<!doctype html>

<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>天香商城 </title>
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
<link rel="stylesheet" type="text/css" href="css/mui.min.css">
<link rel="apple-touch-icon" href="images/touch-icon-iphone.png"/>
<style type="text/css">
	body{
		background: #f9f9f9;
	}
	.goods-detail-turn { position: absolute; z-index: 2; bottom: 0.5rem; left: 50%; width: 6rem; margin-left: -3rem; text-align: center;}
	.goods-detail-turn ul { font-size: 0; margin: 0 auto; white-space: nowrap;}
	.goods-detail-turn ul li { display: inline-block; width: 0.35rem; height: 0.35rem; margin-right: 0.25rem; background-color: #fff; border-radius: 100%;}
	.goods-detail-turn ul li.cur { background-color: #F0AA3C;}
</style>
</head>
<body>
	<div id="demotest">
		<!-- <div class="mui-scroll"> -->
			<div class="fixed-Width">
				 <div class="adv_list" id="main-container1">
		  		  
		  		</div>
			</div>
			<div class="nctouch-home-layout"  id="main-container2"></div>
		<!-- </div> -->
		<div class="fix-block-r"> <a href="javascript:void(0);" class="gotop-btn gotop hide" id="goTopBtn"><i></i></a> </div>
	</div>
<!-- <div class="fixed-Width"> -->
  <!-- <header id="header" class="transparent">
    <div class="logo"></div> -->
    <!--<div class="header-wrap"> <a href="tmpl/search.html" class="header-inp"> <i class="icon"></i> <span class="search-input" id="keyword">请输入关键词</span> </a> </div>-->
<!--    <div class="header-r"><a id="header-nav" href="tmpl/member/chat_list.html"><i class="message"></i>
      <p>消息</p>
      <sup></sup></a></div>-->
  <!-- </header> -->
  <!-- <div class="cohesive"></div> -->
<!--   <div class="adv_list" id="main-container1">
  		  
  </div>
</div> -->
<!--<div class="nctouch-home-nav fixed-Width">
  <ul>
    <li><a href="tmpl/product_first_categroy.html"><span><i></i></span>
      <p>分类</p>
      </a></li>
    <li><a href="tmpl/cart_list.html"><span><i></i></span>
      <p>购物车</p>
      </a></li>
    <li><a href="shop.html"><span><i></i></span>
      <p>店铺街</p>
      </a></li>
    <li><a href="tmpl/member/signin.html"><span><i></i></span>
      <p>每日签到</p>
      </a></li>
     <li><a href="tmpl/member/member.html"><span><i></i></span>
      <p>我的商城</p>
      </a></li>
    <li><a href="tmpl/member/order_list.html"><span><i></i></span>
      <p>我的订单</p>
      </a></li>
    <li><a href="tmpl/member/member_asset.html"><span><i></i></span>
      <p>我的财产</p>
      </a></li>
    <li><a href="tmpl/member/views_list.html"><span><i></i></span>
      <p>我的足迹</p>
      </a></li>
  </ul>
</div>-->
<!-- <div class="nctouch-home-layout" id="main-container2"></div> -->
<footer id="footer"></footer> 
<script type="text/html" id="adv_list">
		<div class="swipe-wrap">
		<% for (var i in item) { %>
			<div class="item">
				<a href="<%= item[i].url %>">
					<img src="<%= item[i].image %>" alt="">
				</a>
			</div>
		<% } %>
		</div>
		<div class="goods-detail-turn">
			<ul id="xli">
				<% for (var i in item) { %>
						<li class="curli"></li>
				<% } %>
			</ul>
		</div>
</script> 
<script type="text/html" id="home1">
	<div class="nctouch-home-block">
	<% if (title) { %>
		<div class="tit-bar"><%= title %></div>
	<% } %>
		<div class="item-pic">
			<a href="<%= url %>">
				<img src="<%= image %>" alt="">
			</a>
		</div>
	</div>
</script> 
<script type="text/html" id="home2">
	<div class="nctouch-home-block">
	<% if (title) { %>
		<div class="tit-bar"><%= title %></div>
	<% } %>
		<ul class="item-pic-l1-r2" style="margin: 0.3rem 0">
			<li>
				<a href="<%= square_url %>"><img src="<%= square_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle1_url %>"><img src="<%= rectangle1_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle2_url %>"><img src="<%= rectangle2_image %>" alt=""></a>
			</li>
		</ul>
	</div>
</script> 
<script type="text/html" id="home3">
	<div class="nctouch-home-block">
	<% if (title) { %>
		<div class="tit-bar"><%= title %></div>
	<% } %>
		<ul class="item-pic-list">
		<% for (var i in item) { %>
			<li>
				<a href="<%= item[i].url %>"><img src="<%= item[i].image %>" alt=""></a>
			</li>
		<% } %>
		</ul>
	</div>
</script> 
<script type="text/html" id="home4">
	<div class="nctouch-home-block">
	<% if (title) { %>
		<div class="tit-bar"><%= title %></div>
	<% } %>
		<ul class="item-pic-l2-r1">
			<li>
				<a href="<%= rectangle1_url %>"><img src="<%= rectangle1_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle2_url %>"><img src="<%= rectangle2_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= square_url %>"><img src="<%= square_image %>" alt=""></a>
			</li>
		</ul>
	</div>
</script> 
<script type="text/html" id="goods">
	<div class="nctouch-home-block item-goods">
	<% if (title) { %>
		<div class="tit-bar"><%= title %></div>
	<% } %>
		<ul class="goods-list">
		<% for (var i in item) { %>
			<li>
				<a href="tmpl/product_detail.html?goods_id=<%= item[i].goods_id %>">
					<div class="goods-pic"><img src="<%= item[i].goods_image %>" alt=""></div>
					<dl class="goods-info">
						<% if (item[i].goods_name.length>10) {%>
							<dt class="goods-name"><%= item[i].goods_name.substring(0,10)+'…' %></dt>
						<%}else{%>
							<dt class="goods-name"><%= item[i].goods_name %></dt>
						<% } %>
						<% if (item[i].goods_jingle.length>10) {%>
							<dd class="goods_jingle"><%= item[i].goods_jingle.substring(0,10)+'…' %></dd>
						<%}else{%>
							<dd class="goods_jingle"><%= item[i].goods_jingle %></dd>
						<% } %>
						<dd class="goods-price">
							￥<em><%= item[i].goods_promotion_price.substring(0,item[i].goods_promotion_price.length-3)%></em>
							<!-- <% if (item[i].goods_marketprice.length>8) {%>
								<span class="yuanjia">
									<%= item[i].goods_marketprice.substring(0,6)+'…' %>
								</span>
							<%}else{%> -->
								<span class="yuanjia">
									<%= item[i].goods_marketprice.substring(0,item[i].goods_marketprice.length-3) %>
								</span>
							<!-- <% } %> -->
						</dd> 
					</dl>
				</a>
			</li>
		<% } %>
		</ul>
	</div>
</script> 
<script type="text/html" id="goods1">
	<div class="nctouch-home-block item-goods">
	<% if (title) { %>
		<div class="tit-bar"><%= title %></div>
	<% } %>
		<ul class="goods-list">
		<% for (var i in item) { %>
			<li>
			<i><div>打折</div></i>
			<a href="tmpl/product_detail.html?goods_id=<%= item[i].goods_id %>">
			<div class="goods-pic"><img src="<%= item[i].goods_image %>" alt=""></div>
					<dl class="goods-info">
						<dt class="goods-name"><%= item[i].goods_name %></dt>
						<dd class="goods-price">￥<em><%= item[i].goods_promotion_price %></em><i class="list-price">￥<%= item[i].goods_price %></i></dd>
					</dl>
			</a>
				</li>
			
		<% } %>
		</ul>
	</div>
</script> 
<script type="text/html" id="goods2">
	<div class="nctouch-home-block item-goods">
	<% if (title) { %>
		<div class="tit-bar"><%= title %></div> 
	<% } %>
		<ul class="goods-list">
		<% for (var i in item) { %>
			<li>
			<i><div>抢购</div></i>
			<a href="tmpl/product_detail.html?goods_id=<%= item[i].goods_id %>">
			<div class="goods-pic"><img src="<%= item[i].goods_image %>" alt=""></div>
					<dl class="goods-info">
						<dt class="goods-name"><%= item[i].goods_name %></dt>
						<dd class="goods-price">￥<em><%= item[i].goods_promotion_price %></em><i class="list-price">￥<%= item[i].goods_price %></i></dd>
					</dl>
			</a>
				</li>
			
		<% } %>
		</ul>
	</div>
</script>
<script type="text/javascript" src="js/config.js"></script> 
<script type="text/javascript" src="js/zepto.min.js"></script> 
<script type="text/javascript" src="js/mui.min.js"></script> 
<script type="text/javascript" src="js/template.js"></script> 
<script type="text/javascript" src="js/common.js"></script> 
<script type="text/javascript" src="js/swipe.js"></script> 
<script type="text/javascript" src="js/index.js"></script> 
<script type="text/javascript" src="js/tmpl/footer.js"></script> 
<!-- <script type="text/javascript" src="js/addtohomescreen.js"></script>  -->
<script>
//	addToHomescreen({
//		message:'如要把应用程式加至主屏幕,请点击%icon, 然后<strong>加至主屏幕</strong>'
//	});

// if(!mui.os.plus){
// 	window.location="http://www.baidu.com"
// }else{
// }
</script>
</body>
</html>
