<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/> 
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>红包</title>
<link rel="stylesheet" type="text/css" href="../../css/base.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_member.css">
<style type="text/css">
    body{
        background: #f9f9f9;
    }
</style>
</head>
<body>
<header id="header" class="fixed">
  <div class="header-wrap font_color">
    <div class="header-l"><a href="member.html?cur=4"><i class="back"></i></a></div>
     <div class="header-title">
        <h1>我的红包</h1>
    </div>
    <!-- <span class="header-tab"> <a href="javascript:void(0);" class="cur">我的红包</a> <a href="redpacket_pwex.html">领取红包</a> </span> -->
    <!-- <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup></sup></a> </div> -->
  </div>
  <div class="nctouch-nav-layout">
    <div class="nctouch-nav-menu"> <span class="arrow"></span>
      <ul>
        <li><a href="../../index.html"><i class="home"></i>首页</a></li>
        <li><a href="../search.html"><i class="search"></i>搜索</a></li>
        <li><a href="../product_first_categroy.html"><i class="categroy"></i>分类</a></li>
        <li><a href="javascript:void(0);"><i class="message"></i>消息<sup></sup></a></li>
        <li><a href="../cart_list.html"><i class="cart"></i>购物车<sup></sup></a></li>
        <li><a href="../member/member.html"><i class="member"></i>我的商城</a></li>
      </ul>
    </div>
  </div>
</header>
<div class="nctouch-main-layout">
  <div class="nctouch-voucher-list">
    <ul class="nctouch-tickets" id="rplist">
<!--        <li  class="hblist" onclick="lingqu()">
            <div class="hblisttop wlq">
                <span>香券</span>
                <img class="icon_hb" src="../../images/hb_no_open.png">
            </div>
            <div class="hblistbottom">
                <span>2018.4.9 15:54</span>
                <span class="fl_right">点击领取</span>
            </div>
        </li>
        <li  class="hblist">
            <div class="hblisttop ylq">
                <span>香券</span>
                <img class="icon_hb" src="../../images/hb_open.png">
            </div>
            <div class="hblistbottom cl_99">
                <span>2018.4.9 15:54</span>
                <span class="fl_right">已领取</span>
            </div>
        </li>
        <li  class="hblist">
            <div class="hblisttop ygq">
                <span>香券</span>
                <img class="icon_hb" src="../../images/hb_wlq.png">
            </div>
            <div class="hblistbottom cl_99">
                <span>2018.4.9 15:54</span>
                <span class="fl_right">已过期</span>
            </div>
        </li>-->
    </ul>
  </div>
</div>
<div class="nctouch-norecord favorite-goods" id="none_hb" style="top: 50%; left: 45%;width: 12rem;display: none">
         <div class="none_hb-ico"><i></i></div>
         <dl>
             <dt style="font-size: 0.7rem;">您还没有红包</dt>
             <dt style="color: #999;font-size: 0.55rem;">可以通过购买商品获得</dt>
         </dl>
         <span  id="tosy" class="btn">随便逛逛</span>
     </div>
<div class="fix-block-r"> <a href="javascript:void(0);" class="gotop-btn gotop hide" id="goTopBtn"><i></i></a> </div>
<footer id="footer" class="bottom"></footer>
<!-- <script type="text/html" id="list_model">
    <% if(redpacket_list.length >0){%>
        <% for (var k in redpacket_list) { var v = redpacket_list[k]; %>
        <li class="ticket-item normal">
        <li class="ticket-item <% if (v.rpacket_state_key == 'unused') { %>normal<% }else{ %>invalid<%}%>">
            <a href="../product_list.html">
            <div class="border-left"></div>
            <div class="block-center">
                <div class="store-info">
                    <div class="store-avatar"><img src="<%=v.rpacket_customimg_url;%>" /></div>
                    <dl>
                        <dt class="store-name"><%=v.rpacket_code;%></dt>
                        <dd>有效期至：<%=v.rpacket_end_date_text;%></dd>
                    </dl>
                </div>
                <div class="ticket-info">
                    <div class="bg-ico rp"></div>
                    <% if (v.rpacket_state_key== 'used') { %>
                    <div class="watermark ysy"></div>
                    <% } %>
                    <% if (v.rpacket_state_key== 'expire') { %>
                    <div class="watermark ysx"></div>
                    <% } %>
                    <dl>
                        <dt>￥<%=v.rpacket_price;%></dt>
                        <dd><% if (v.rpacket_limit) { %>满<%= v.rpacket_limit %>使用<% } %></dd>
                    </dl>
                </div>
            </div>
            <div class="border-right"></div>
        </a>
        </li>
        <%}%>
        <li class="loading"><div class="spinner"><i></i></div>数据读取中</li>
    <%
    } else {
    %>
    <div class="nctouch-norecord redpacket">
		<div class="norecord-ico"><i></i></div>
		<dl>
			<dt>您还没有相关的红包</dt>
			<dd>平台红包可抵扣现金结算</dd>
		</dl>
	</div>
    <% } %>
</script>  -->
<div class="fade"></div>
<div class="list_model">
    <img src="../../images/hb_model.png">
    <div class='title'>香券红包</div>
    <div class='huode'>恭喜你获得</div>
    <div class='money' id="money">1.98<span class="fs_12">元</span></div>
    <i class='exit' onclick="exit()"></i>
</div>
<li class="loading" id="loading"><div class="spinner"><i></i></div>红包数据读取中...</li>
<li  class="nomore" id="nomore">没有更多了…</li>
<script type="text/javascript" src=" ../../js/config.js"></script> 
<script type="text/javascript" src="../../js/zepto.min.js"></script> 
<script type="text/javascript" src="../../js/template.js"></script> 
<script type="text/javascript" src="../../js/common.js"></script> 
<script type="text/javascript" src="../../js/ncscroll-load.js"></script> 
<script type="text/javascript" src="../../js/get_red.js"></script> 
<script>
    function showSpacing(){
        $('.spacing-div').remove();
        $('.invalid').first().before('<div class="spacing-div"><span>已失效红包</span></div>');
    }

    //退出
    function exit(){
        $('.fade').hide();
        $('.list_model').hide();
    }
    $(function(){
        var key = getCookie('key');
        if (!key) {
            window.location.href = WapSiteUrl+'/tmpl/member/login.html';
            return;
        }

        $('#tosy').click(function(){
                  window.location.href = WapSiteUrl;
        });
        //渲染list
        var load_class = new ncScrollLoad();
        // load_class.loadInit({'url':ApiUrl + '/index.php?act=member_redpacket&op=redpacket_list','getparam':{'key':key},'tmplid':'list_model','containerobj':$("#rplist"),'iIntervalId':true,'callback':showSpacing});
    });
</script>
</body>
</html>