﻿@charset "utf-8";

/* ================================ */
/* 格式化样式标签、基础类型样式		*/
/* by 33ha--o.com V  - 5
/* ================================ */


/*多分辨率设定rem设定*/
html { font-size : 20px; }

/*Note3*/
@media only screen and (min-width: 360px) {
html { font-size: 22px !important; }
}

/*iPhone6*/
@media only screen and (min-width: 376px) {
html { font-size: 23px !important; }
}

/*iPhone6 plus*/
@media only screen and (min-width: 414px) {
html { font-size: 25px !important; }
}

/*big Resolution*/
@media only screen and (min-width: 641px) {
html { font-size: 25px !important; }
}


html { -ms-touch-action: none;}
body { font-family: Heiti, Heiti SC, DroidSans, DroidSansFallback, Arial, "Microsoft YaHei"; background-color: #ffffff; -moz-user-select: none; /*火狐*/
-webkit-user-select: none; /*webkit浏览器*/
-ms-user-select: none; /*IE10*/
-khtml-user-select: none; /*早期浏览器*/
user-select: none;}
input { font-family: Arial, "Microsoft YaHei", sans-serif; }
a { text-decoration: none;  -webkit-touch-callout: none;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, span, a { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img, iframe { border: 0 }
:focus { outline: 0 }
i, address, caption, cite, code, dfn, em, strong, th, var { font-style: normal }
ol, ul { list-style: none }
li { list-style: none }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
blockquote:before, blockquote:after, q:before, q:after { content: '' }
abbr, acronym { border: 0; font-variant: normal }
img { vertical-align: top; border: none; }
input, textarea { -webkit-user-select: text; -ms-user-select: text; user-select: text; -webkit-appearance: none; }
input:focus, select:focus, textarea:focus, button:focus { outline: none; }
input[type="text"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], input[type="email"], input[type="url"], textarea { -webkit-appearance: none; border: 1px solid; border-radius: 0; }
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance:none;
}
em, i { font-style: normal; }
li { list-style: none; }
input[type="checkbox"] { position: relative; width: 0.75rem; height: 0.75rem; background-color: #F5F5F5; border: 0.05rem solid #CCC; -webkit-border-radius: 50%; border-radius: 50%; vertical-align: middle; }
input[type="checkbox"]:checked { border-color: #ed485c; background-color: #ed485c; }
/*input[type="checkbox"]:checked:after { content: ''; position: absolute; left: 0.1rem; top: 0.14rem; width: 0.4rem; height: 0.2rem; border-left: 0.065rem solid #fff; border-bottom: 0.065rem solid #fff; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }*/

sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
.hide { display: none !important;}
.show { display: block !important;}
/*clear float*/
.clearfix { zoom: 1 }
.clearfix:after { display: block; clear: both; content: '\20' }
:not(input) { -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-touch-callout: none; -webkit-text-size-adjust: none; }
.posr { position: relative !important; }
.posa { position: absolute; z-index: auto; }
.posf { position: fixed;}
.w20h li { width: 20%;}
.w33h li { width: 33.33%;}
.w50h li { width: 50%;}
.mt5 { margin-top: 0.5rem !important;}
.mt10 { margin-top: 1rem !important;}
.mt20 { margin-top: 2rem !important;}
.mt40 { margin-top: 4rem !important;}
.mr2 { margin-right: 0.2rem;}
.mb5 { margin-bottom: 0.5rem !important;}
.mb20 { margin-bottom: 2rem !important;}
.mb-20 { margin-bottom: -2rem !important;}
.mb25 { margin-bottom: 2.5rem !important;}
.pl5 { padding-left: 0.5rem;}
.p25 { padding-left: 1.2rem;}
.pb5 { padding-bottom: 0.5rem;}
.bgc-t { background-color: transparent !important;}

.opera-tips { color: #D9434E; font-size: 14px; }
.error-tips { display: none; background-color: rgba(255,255,255,0.95); border: solid 0.05rem #CCC; padding: 0.8rem 0.6rem; text-align: center; border-radius: 0.2rem; position: fixed; z-index: 9999; top: 40%; left: 25%; right: 25%; color: #333; font-size: 0.7rem; line-height: 1rem; box-shadow: 0 0 1rem rgba(0,0,0,0.15);}
.error-tips p { font-size: 0.7rem; line-height: 1rem; color: #333; }

/*操作提示弹出层*/
.s-dialog-mask { position: fixed; z-index: 999; top: 0; right: 0; bottom: 0; left: 0; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#BF000000', endColorstr='#BF000000');background:rgba(0,0,0,0.75);}
.s-dialog-wrapper { position: fixed; z-index: 9999; max-width: 12rem; min-width: 10rem; margin-top: -2rem; border-radius: 0.2rem;}
.s-dialog-skin-green { background-color: rgba(255,255,255,0.90); border: solid 0.05rem #000;}
.s-dialog-skin-block { background-color: rgba(255,255,255,0.90); border: solid 0.05rem #000;}
.s-dialog-skin-red { background-color: rgba(255,255,255,0.90); border: solid 0.05rem #000;}
.s-dialog-content { padding: 0.8rem 0.6rem; text-align: center; font-size: 0.75rem; line-height: 0.9rem;}
.s-dialog-skin-green .s-dialog-content { color: #000;}
.s-dialog-skin-red .s-dialog-content { color: #000;}
.s-dialog-skin-block .s-dialog-content { color: #000;}
.s-dialog-content h6 { display: block; font-size: 0.55rem; line-height: 0.9rem; color: #333;}
.s-dialog-btn-wapper { display: block; padding: 0.6rem 0; border-top: solid 0.05rem rgba(0,0,0,0.15); font-size: 0; }
.s-dialog-btn-wapper a { display: inline-block; width: 49%; font-size: 0.7rem; font-weight: 600; line-height: 0.9rem; color: #0080FF; text-align: center;}
.s-dialog-btn-wapper a:last-child { border-left: solid 0.05rem rgba(0,0,0,0.15);}
.s-dialog-skin-block .s-dialog-btn-wapper a { color: #0080FF;}

#scroller { position: absolute; z-index: 1; -webkit-tap-highlight-color: rgba(0,0,0,0); width: 100%; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -o-text-size-adjust: none; text-size-adjust: none; }
#scroller ul { list-style: none; padding: 0; margin: 0; width: 100%; text-align: left; }
#scroller li { padding: 0 10px; height: 40px; line-height: 40px; border-bottom: 1px solid #ccc; border-top: 1px solid #fff; background-color: #fafafa; font-size: 14px; }

/*页面固定宽度*/
.fixed-Width { min-width: 320px; max-width: 640px; margin: 0 auto;}

/*默认顶部*/
header, 
.header { background: #F8F8F8; height: 1.95rem; position: absolute; z-index: 8; top: 0; left: 0; right: 0; bottom: auto;}
header.fixed { position: fixed;  z-index: 9;}
.header-wrap { display: block; max-width: 320px; max-width: 640px; margin: 0 auto; text-align: center; }
.header-l { display: block; width: 1.95rem; height: 1.95rem; position: absolute; top: 0; left: 0; }
.header-l a { position: relative; z-index: 1; display: inline-block; width: 1rem; height: 1rem; padding: 0.4775rem; }
.header-l a i { display: block; width: 100%; height: 100%; }
.header-l a i.back { width: 80%; height: 80%; margin: 10%; background-image: url(../images/arrow_left_w.png); background-position: 50% 50%; background-repeat: no-repeat; background-size: 100%; opacity: 0.75; }
.header-l a i.close { width: 80%; height: 80%; margin: 10%; background-image: url(../images/close_window.png); background-position: 50% 50%; background-repeat: no-repeat; background-size: 100%; opacity: 0.75; }
.header-l a i.set { background-image: url(../images/set_b.png); background-position: 50% 50%; background-repeat: no-repeat; background-size: 100%; opacity: 0.65; }
.header-l a i.home { width: 80%; height: 80%; margin: 10%; background-image: url(../images/home_b.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 90%; opacity: 0.7; }
/*单一标题*/
.header-title { display: inline-block; margin: 0 auto; }
.header-title h1 { font-size: 0.85rem; line-height: 1.95rem; height: 1.95rem;font-weight: bold;}
/*模拟输入框*/
.header-inp { position: relative; display: block; height: 1.4rem; border: solid 0.05rem #DEDEDE; border-radius: 0.2rem; margin: 0.275rem 2.5rem 0 1rem; background-color: #f9eeda; text-align: left; }
.header-inp_product_list { position: relative; display: block; height: 1.4rem; border: solid 0.05rem #DEDEDE; border-radius: 0.2rem; margin: 0.275rem 2.5rem 0 2rem; background-color: #f9eeda; text-align: left; }
.header-inpx {background-color: #f9eeda; position: relative; display: block; height: 1.4rem; border-radius: 5px; margin: 0.275rem 2.5rem 0 1rem; text-align: left;width: 15rem;}
.header-inp .icon { float: left; vertical-align: top; width: 1rem; height:1rem; margin: 0.2rem 0.1rem; background-image: url(../images/search_ico.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 70%; opacity: 0.3; }
.header-inp .search-input {background-color:#f9eeda; float: left; width: 7.5rem; height: 1rem; padding: 0.2rem 0; font-size: 0.65rem; line-height: 1rem; color: #555; vertical-align: top; border: none 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.header-inpx .icon { position: absolute;left: 5.2rem;float: left; vertical-align: top; width: 1rem; height:1rem; margin: 0.15rem 0.1rem; background-image: url(../images/sousuo_icon.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 70%; }
.header-inpx .search-input { float: right; width: 8.7rem; height: 1rem; padding: 0.2rem 0; font-size: 0.7rem; line-height: 1rem; color: #666666; vertical-align: top; border: none 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;border-radius: 30px;}
.header-inp .input-del { position: absolute; z-index: 1; top: 0; right: 0; display: none; width: 1.38rem; height: 1.38rem; background-image: url(../images/cancel_b.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 50%; opacity: 0.2;}
.header-inp.write .search-input { color: #111;}
.header-inp.write .input-del { display: block;}

/*product_list模拟输入框*/
.header-inp_product_list { position: relative; display: block; height: 1.4rem; border: solid 0.05rem #555555; border-radius: 0.2rem; margin: 0.275rem 2.5rem 0 2rem; background-color: #555555; text-align: left; }
.header-inpx {background-color: #f9eeda; position: relative; display: block; height: 1.4rem; border-radius:30px; margin: 0.275rem 2.5rem 0 1rem; text-align: left;width: 15rem;}
.header-inp_product_list .icon { float: left; vertical-align: top; width: 1rem; height:1rem; margin: 0.2rem 0.1rem; background-image: url(../images/search_ico_f9.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 70%; opacity:1; }
.header-inp_product_list .search-input {background-color:#555555; float: left; width: 7.5rem; height: 1rem; padding: 0.2rem 0; font-size: 0.65rem; line-height: 1rem; color: #999999; vertical-align: top; border: none 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.header-inp_product_list .input-del { position: absolute; z-index: 1; top: 0; right: 0; display: none; width: 1.38rem; height: 1.38rem; background-image: url(../images/cancel_b.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 50%; opacity: 0.2;}
.header-inp_product_list.write .search-input { color: #111;}
.header-inp_product_list.write .input-del { display: block;}
/*标题切换*/
.header-tab { display: inline-block; height: 1.4rem; margin: 0.275rem auto 0 auto; font-size: 0; border-radius: 0.2rem; }
.header-tab a { display: inline-block; height: 1.3rem; padding: 0 1rem; text-align: center; font-size: 0.68rem; color: #fff; line-height: 1.3rem; border: solid 0.05rem #fff; }
.header-tab a:first-child { border-radius: 0.25rem 0 0 0.25rem; }
.header-tab a:last-child { border-radius: 0 0.25rem 0.25rem 0; }
.header-tab a.cur { color: #e5ac52; background-color: #fff; }

/*标题导航*/
.header-nav { display: inline-block; margin: 0 auto; vertical-align: top; font-size: 0; white-space: nowrap; }
.header-nav li { display: inline-block; vertical-align: top; text-align: center; height: 1.95rem; }
.header-nav li a { display: inline-block; padding: 0.1rem 0.25rem; margin: 0 0.5rem; font-size: 0.7rem; line-height: 1.825rem; color: #e8e8e8; }
.header-nav li.cur a { padding: 0.1rem 0.05rem 0 0.05rem; color: white; border-bottom: solid 0.1rem white; font-size: 0.8rem; font-weight: 600; }
.header-r { position: absolute; z-index: 1; top: 0; right: 0; font-size: 0; text-align: right; }
.header-r a.text { position: relative; z-index: 1; display: inline-block; white-space: nowrap; width: 1.6rem; height: 0.95rem; padding: 0.6rem 0.7rem 0.4rem 0; font-size: 0.7rem; line-height: 0.975rem; color:#ffffff;}
.header-r a { position: relative; z-index: 1; display: inline-block; vertical-align: top; width: 0.95rem; height: 0.95rem; padding: 0.5rem 0.5rem; }
.header-r a i { display: block; width: 100%; height: 100%; }
.header-r a sup { display: none; position: absolute; z-index: 1; top: 0.3rem; right: 0.3rem; width: 0.36rem; height: 0.36rem; background-color: #ED5564; border-radius: 100%; }
.header-r a i.more { background-image: url(../images/more_b.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 100%; opacity: 0.65; }
.header-r a i.share { background-image: url(../images/share.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 100%; opacity: 0.65; }
.header-r a i.search_icon { background-image: url(../images/search.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 100%;}
.header-r a i.refresh { background-image: url(../images/reload_b.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 85%; opacity: 0.60;}
.header-r a i.add { background-image: url(../images/value_add.png); background-repeat: no-repeat; background-position:50% 50%; background-size: 80%; opacity: 0.65; }
.header-r a i.save { background-image: url(../images/save_b.png); background-repeat: no-repeat; background-position:50% 50%; background-size: 80%; opacity: 0.65; }
.header-r a.search-btn { width: 2.5rem; height: 1.95rem; text-align: center; padding: 0; font-size: 0.7rem; line-height: 1.95rem; color: #999999;font-weight: bold; }
.header-r a.msg-log { width: 2.45rem; height: 1.95rem;  padding: 0;}
.header-r a.msg-log i { background-image: url(../images/msg_log_b.png); background-repeat: no-repeat; background-position:50% 50%; background-size:70%; opacity: 0.7;}

/*头部下拉菜单*/
.nctouch-nav-layout { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: transparent; }
.nctouch-nav-menu { display: block; position: absolute; top: 1.2rem; right: 0.2rem; width: 5rem; }
.nctouch-nav-menu .arrow { display: block; float: right; width: 0; height: 0; margin-right: 0.4rem; font-size: 0; line-height: 0; border-width: 0.4rem; border-color: transparent transparent rgba(85,85,85,0.95) transparent; border-style: dashed dashed solid dashed; }
.nctouch-nav-menu ul { display: block; clear: both; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#F2555555', endColorstr='#F2555555');
background: rgba(85,85,85,0.95); border-radius: 0.2rem; }
.nctouch-nav-menu li { position: relative; z-index: 1; border-bottom: solid 0.05rem #999; }
.nctouch-nav-menu li:last-child { border-bottom: none 0; }
.nctouch-nav-menu li a { display: block; height: 0.9rem; padding: 0.5rem; font-size: 0.6rem; line-height: 0.9rem; color: #FFF; }
.nctouch-nav-menu li a i { display: inline-block; width: 0.72rem; height: 0.72rem; vertical-align: middle; margin-right: 0.3rem; background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; }
.nctouch-nav-menu li a i.message { background-image: url(../images/message_w.png); }
.nctouch-nav-menu li a i.cart { background-image: url(../images/cart_w.png);}
.nctouch-nav-menu li a i.home { background-image: url(../images/home_w.png);}
.nctouch-nav-menu li a i.search { background-image: url(../images/search_w.png);}
.nctouch-nav-menu li a i.categroy { background-image: url(../images/categroy_w.png);}
.nctouch-nav-menu li a i.member { background-image: url(../images/member_w.png);}
.nctouch-nav-menu li sup { display: none; position: absolute; z-index: 1; top: 0.5rem; right: 0.5rem; width: 0.36rem; height: 0.36rem; background-color: #ED5564; border-radius: 100%; }
/*头部透明*/
.transparent { background-color: transparent; border-bottom: none; }
.transparent .header-l a i.set { background-image: url(../images/set_w.png); background-position: 50% 50%; background-repeat: no-repeat; background-size: 100%; opacity: 1; }
.transparent .header-title, .transparent .header-nav { display: none; }
.transparent .header-r a i.more { background-image: url(../images/more_w.png); background-position: 50% 50%; background-repeat: no-repeat; background-size: 100%; opacity: 1; }
.transparent .header-r a sup { top: -0.05rem; right:  -0.05rem; width: 0.35rem; height: 0.35rem; background-color: #ED5564; border: solid 0.05rem #FFF; border-radius: 100%; }
.transparent .nctouch-nav-menu .arrow { opacity: 0.55; }
.transparent .nctouch-nav-menu ul { background: rgba(85,85,85,0.55); }
.transparent .nctouch-nav-menu ul li { border-bottom-color: #CCC; }
header.posf { animation: headerFixed 0.5s ease-in-out; -webkit-animation: headerFixed 0.5s ease-in-out; }
@keyframes headerFixed {
from {
background-color: transparent;
border-bottom-color: transparent;
}
to {
background-color: #F8F8F8;
border-bottom-color: #EEE;
}
}
@-webkit-keyframes headerFixed {
from {
background-color: transparent;
border-bottom-color: transparent;
}
to {
background-color: #F8F8F8;
border-bottom-color: #EEE;
}
}
/*默认底部*/
footer { display: block; position: relative; z-index: 105;  left: 0; right: 0; width: 100%; padding-top: 0.5rem; }
.nctouch-footer-wrap { position: relative; z-index: 5; bottom: 2.2rem; left: 0; right: 0; width: 100%; margin-top: 2.2rem; background-color: #F5F5F5; border-top: solid 1px #EEE; }
.nctouch-footer-wrap .nav-text {background-color: #fff;  padding: 0.6rem 0; font-size: 0; text-align: center; border-bottom: solid 0.05rem #EEE; }
.nctouch-footer-wrap .nav-text a { display: inline-block !important; width: 18%; height: 0.6rem; font-size: 0.6rem; line-height: 0.6rem; color: #555 !important; border-left: solid 0.05rem #EEE; }
.nctouch-footer-wrap .nav-text a:first-child { border-left: 0; }
.nctouch-footer-wrap .nav-pic { padding: 0.3rem 2rem; font-size: 0; text-align: center; border-bottom: solid 0.05rem #EEE; }
.nctouch-footer-wrap .nav-pic a { display: inline-block !important; width: 33.33%; font-size: 0.45rem; color: #999 !important; text-align: center; }
.nctouch-footer-wrap .nav-pic a.touch { color: #333 !important; }
.nctouch-footer-wrap .nav-pic a span { display: inline-block; width: 1.2rem; height: 1.2rem; margin: 0 auto; padding: 0.15rem; border: solid #CCC 1px; border-radius: 100%; }
.nctouch-footer-wrap .nav-pic a.touch span { border-color: #555; }
.nctouch-footer-wrap .nav-pic a i { display: block; width: 100%; height: 100%; background-position: 50% 50%; background-repeat: no-repeat; background-size: 80%; opacity: 0.4;}
.nctouch-footer-wrap .nav-pic a.app i { background-image: url(../images/foot_app.png);}
.nctouch-footer-wrap .nav-pic a.touch i { background-image: url(../images/foot_touch.png); opacity: 0.8;}
.nctouch-footer-wrap .nav-pic a.pc i { background-image: url(../images/foot_pc.png);}
.nctouch-footer-wrap .copyright { height: 1.6rem; font-size: 0.45rem; line-height: 1.6rem; color: #555; text-align: center; text-shadow: 1px 1px 0 rgba(255,255,255,1) }
.nctouch-footer-wrap .copyright a { display: inline-block!important; margin: 0 0.05rem; font-size: 0.45rem; font-weight: 600; color: #555; }

/*底部固定下方*/
footer.bottom .nav-text, 
footer.bottom .nav-pic { display: none; }
footer.bottom .nctouch-footer-wrap { background-color: transparent; border: none; }

/*默认内容区域*/
.nctouch-main-layout { display: block;margin-top: 2rem}
.nctouch-main-layout-a { display: block; position: absolute; top: 4rem; right: 0; left: 0; bottom: 0; overflow: auto; z-index: 1;}

/*特别提示*/
.special-tips { display: block; padding: 0.4rem 5%;}
.special-tips p { font-size: 0.55rem; line-height: 0.7rem; padding: 0.2rem 0.4rem; background: #AAA; color: #FFF; border-radius: 0.5rem;}

/*单行导航*/
.nctouch-single-nav { display: block; width: 98%; height: 1.95rem; padding: 0 1%; background: #FFF; border-bottom: solid 0.05rem #EEE; }
.nctouch-single-nav ul { display: block; font-size: 0; white-space: nowrap; overflow: visible !important;}
.nctouch-single-nav ul li { display: inline-block; vertical-align: top; text-align: center; height: 1.95rem; padding: 0!important;}
.nctouch-single-nav .area li { width: 33.33%;}
.nctouch-single-nav ul li a { display: inline-block; padding: 0.1rem 0.05rem; font-size: 0.6rem; line-height: 1.85rem; color: #333; }
.nctouch-single-nav ul li a i { display: inline-block; width: 1rem; height: 1rem; vertical-align: middle; margin-right: 0.1rem; background-position: 50% 50%; background-repeat: no-repeat; background-size: 70%; filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */ -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray; opacity: 1;}
.nctouch-single-nav ul li.selected a { padding: 0.1rem 0.05rem 0 0.05rem; color: #ED5564; border-bottom: solid 0.1rem #ED5564!important; }
.nctouch-single-nav ul li.selected a i { -webkit-filter: grayscale(0); -moz-filter: grayscale(0); -ms-filter: grayscale(0); -o-filter: grayscale(0); filter: grayscale(0); filter: gray; opacity: 1;}
.nctouch-single-nav.fixed { background-color: rgba(248,248,248,0.95); position: fixed; z-index: 3; top: 2rem; left: 0; right: 0;}


/*标签式导航*/
.nctouch-tag-nav { background-color: #EEE; padding: 0.5rem 0.5rem 0 0.5rem;}
.nctouch-tag-nav ul { font-size: 0; display: block;}
.nctouch-tag-nav ul li { display: inline-block; background-color: #AAA; margin: 0 0.5rem 0.5rem 0; border-radius: 0.2rem;}
.nctouch-tag-nav ul li.selected { background-color: #e5ac52;}
.nctouch-tag-nav ul li a { display: block; height: 0.9rem; padding: 0.2rem 0.5rem; font-size: 0.6rem; line-height: 0.9rem; color: #FFF;}


/*默认单行列表*/
.nctouch-default-list-tit { font-size: 0.7rem; line-height: 1rem; padding: 0.5rem;}
.nctouch-default-list { overflow: hidden; padding: 0 0 0 0.5rem; background-color: #FFF; border-top: solid 0.05rem #EEE; border-bottom: solid 0.05rem #EEE; }
.nctouch-default-list li { position: relative; z-index: 1; display: block; clear: both; overflow: hidden; padding: 0.5rem 0; line-height: 1rem; border-top: solid 0.05rem #EEE; }
.nctouch-default-list li:first-child { border-top: none; }
.nctouch-default-list li a { display: block; overflow: hidden; font-size: 0.65rem; color: #000; }
.nctouch-default-list li h4 { float: left; margin-left: 0.3rem; font-size: 0.7rem; line-height: 1rem; color: #333; }
.nctouch-default-list li h4 i { display: inline-block; vertical-align: top; margin-right: 0.2rem; width: 0.9rem; height: 0.9rem; opacity: 0.5; background-position: 50% 50%; background-repeat: no-repeat; background-size: 80%; }
.nctouch-default-list li h6 { float: left; clear: both; margin-left: 0.3rem; font-size: 0.55rem; line-height: 1rem; color: #888;}
.nctouch-default-list li span.num { float: right; margin-right: 1.2rem; font-size: 0.6rem; line-height: 1rem;}
.nctouch-default-list li span.tip { position: absolute; z-index: 1; top: 50%; right: 1.2rem; height: 0.9rem; margin-top: -0.4rem; font-size: 0.6rem; line-height: 0.9rem; color: #111;}
.nctouch-default-list li span.arrow-r { position: absolute; z-index: 1; top: 50%; right: 0.5rem; display: block; width: 0.6rem; height: 0.6rem; margin-top: -0.3rem; background-image: url(../images/arrow_right_b.png); background-repeat: 50% 50%; background-repeat: no-repeat; background-size: 90%; opacity: 0.65; }
.nctouch-default-list li span.pics {float: right; margin-right: 1.2rem; font-size: 0.6rem; line-height: 1rem;}
.nctouch-default-list li span.pics img { width: 1rem; height: 1rem;}

/*默认输入表单*/
.nctouch-inp-con { display: block; clear: both;}
.nctouch-inp-con ul { background: #FFF;}
.nctouch-inp-con ul li { position: relative; z-index: 1; display: block; min-height: 1.95rem; margin-left: 0.5rem; background-color: #FFF; border-bottom: solid #f6f6f6 0.05rem;}
.nctouch-inp-con ul li:nth-last-child(1) { border-bottom: none 0; }
.nctouch-inp-con ul li.upload-item { height: 2.55rem}
.nctouch-inp-con ul li h4 { position: absolute; z-index: 1; top: 0; left: 0; width: 3rem; font-size: 0.6rem; line-height: 1.95rem; color: #444; text-align: right;}
.nctouch-inp-con ul li .input-box { display: block; height: 1.95rem; margin: 0 0.5rem 0 3.5rem; position: relative; z-index: 1;}
.nctouch-inp-con ul li.upload-item .input-box { height: 1.95rem; padding: 0.3rem 0;}
.nctouch-inp-con ul li .input-box .inp { width: 100%; min-height: 0.95rem; padding: 0.5rem 0; border: 0 none; font-size: 0.6rem; line-height: 0.95rem; color: #000;}
.nctouch-inp-con ul li .input-box .input-del { position: absolute; z-index: 1; top: 0.5rem; right: 0.5rem; display: none; width: 0.975rem; height: 0.975rem; background-image: url(../images/cancel_b.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 60%; opacity: 0.4;}
.nctouch-inp-con ul li .input-box.write .input-del { display: block;}
.nctouch-inp-con ul li .input-box .checkbox { position: absolute; z-index: 1; top: 0.5rem; left: 0.5rem;}
.nctouch-inp-con ul li .input-box .txt { margin: 0 0 0 1.5rem; font-size: 0.7rem; line-height: 1.95rem; color: #555;}
.nctouch-inp-con ul li .input-box .note { position: absolute; z-index: 1; right: 0; top: 0.25rem; height: 1.6rem; text-align: right;}
.nctouch-inp-con ul li .input-box .note em { display: block; vertical-align: top; font-size: 0.6rem; font-weight: 600; color: #36BC9B; line-height: 0.8rem;}
.nctouch-inp-con ul li .input-box .note h6 { display: block; vertical-align: top; font-size: 0.55rem; color: #999; line-height: 0.8rem;}
.nctouch-inp-con ul li .input-box .select { width: 95%; height: 1.95rem;  margin: 0; font-size: 0.55rem; background-color: transparent; line-height: 1.95rem; border: 0 none; appearance: none; -webkit-appearance: none; /*for chrome*/}
.nctouch-inp-con ul li .input-box .arrow-down { position: absolute; z-index: 1; top: 0.5rem; right: 0; display: block; width:0.975rem; height: 0.975rem; background-image: url(../images/arrow_down_b.png); background-repeat: no-repeat; background-repeat: 50% 50%; background-size: 50%; opacity: 0.5;}
.nctouch-inp-con .form-btn { margin-top: 1rem;}
.nctouch-inp-con .form-btn .btn { display: inline-block; width: 90%; height: 1.8rem; padding: 0; margin: 0 5%; font-size: 0.8rem; line-height: 1.8rem; text-align: center; color: #888; background: #EEE; border: none; border-radius: 0.2rem; }
.nctouch-inp-con .form-btn.ok .btn { color: #FFF !important; background: #e5ac52;}
/*开关*/
.input-box label { display: inline-block !important; height: 1.95rem !important; padding: 0 !important; margin: 0!important; border: 0 !important; border-radius: 0 !important; font-size: 0.7rem !important; line-height: 1.95rem !important; color: #555 !important;}
.input-box label.checked { background-color: transparent !important; padding: 0 !important; color: #555 !important;}
.input-box label input[type="checkbox"] { display: none;}
.input-box label .power { position: relative; z-index: 1; display: inline-block; vertical-align: middle; width: 1.6rem; height: 0.9rem; margin: 0 0.2rem; border: solid 0.05rem #DDD; border-radius: 0.5rem; }
.input-box label .power i { position: absolute; z-index: 1; top: 0rem; left: 0rem; width: 0.9rem; height: 0.9rem; background-color: #FFF; border-radius: 100%; box-shadow: 0.05rem 0.1rem 0.25rem rgba(0,0,0,0.3);}
.input-box label.checked .power{ background-color: #39b24a; border-color: #39b24a;}
.input-box label.checked .power i { left: auto; right: 0; box-shadow: -0.05rem 0.1rem 0.25rem rgba(0,0,0,0.3);}


/*无数据信息为空提示*/
.nctouch-norecord { position: absolute; z-index: -1; top: 50%; left: 50%; width: 10rem; height: 8.2rem; margin: -3rem 0 0 -5rem; text-align: center; font-size: 0; }
.nctouch-norecord .norecord-ico { display: inline-block; width: 2.2rem; height: 2.2rem; padding: 0.4rem; margin: 0 auto; background-color: #DDD; border-radius: 100%; }
.nctouch-norecord .none_hb-ico { display: inline-block; width: 2.2rem; height: 2.2rem; padding: 0.4rem; margin: 0 auto; background-color: #DDD; border-radius: 100%; }

.nctouch-norecord .norecord-ico i { display: block; width: 100%; height: 100%; background-repeat: no-repeat; background-position: 50% 50%; background-size: 80%; }
.nctouch-norecord .none_hb-ico i { display: block; width: 100%; height: 100%; background-repeat: no-repeat; background-position: 50% 50%; background-size: 80%; }
.nctouch-norecord dl { height: 2.75rem; margin-top: 0.75rem; }
.nctouch-norecord dl dt { display: block; height: 1rem; margin-bottom: 0.25rem; font-size: 0.75rem; line-height: 1rem; }
.nctouch-norecord dl dd { display: block; height: 1rem; margin-bottom: 0.5rem; font-size: 0.55rem; line-height: 1rem; color: #999; }
/*无数据提示图标*/
.nctouch-norecord.search .norecord-ico i { background-image: url(../images/search_w.png);}
.nctouch-norecord.cart .norecord-ico i { background-image: url(../images/cart_w.png);}
.nctouch-norecord.eval .norecord-ico i { background-image: url(../images/mcc_04_w.png);}
.nctouch-norecord.talk .norecord-ico i { background-image: url(../images/talk_w.png);}
.nctouch-norecord.order .norecord-ico i { background-image: url(../images/order_w.png);}
.nctouch-norecord.refund .norecord-ico i { background-image: url(../images/mcc_05_w.png);}/*退款、退货*/
.nctouch-norecord.address .norecord-ico i { background-image: url(../images/address_w.png);}
.nctouch-norecord.favorite-store .norecord-ico i { background-image: url(../images/store_w.png);}
.nctouch-norecord.favorite-goods .norecord-ico i { background-image: url(../images/favorite_w.png);}
.nctouch-norecord.favorite-goods .none_hb-ico i {background-image: url(../images/none_hb.png);}
.nctouch-norecord.views .norecord-ico i { background-image: url(../images/goods-browse_w.png);}
.nctouch-norecord.signin .norecord-ico i { background-image: url(../images/mcc_04_w.png);}/*签到*/
.nctouch-norecord.pdre .norecord-ico i { background-image: url(../images/mcc_06_w.png);}/*预存款*/
.nctouch-norecord.recharge .norecord-ico i { background-image: url(../images/mcc_07_w.png)}/*充值卡*/
.nctouch-norecord.voucher .norecord-ico i { background-image: url(../images/mcc_08_w.png);}/*代金券*/ 
.nctouch-norecord.redpacket .norecord-ico i { background-image: url(../images/mcc_09_w.png);}/*红包*/ 
.nctouch-single-nav .area li { width: 33.33%;}

/*加减数量控件*/
.value-box { display: inline-block; float: right; font-size: 0; border: solid 0.05rem #CCC; border-radius: 0.2rem;}
.value-box span { display: inline-block; vertical-align: top; line-height: 0;}
.value-box span a { display: block; width: 0.4rem; height: 0.4rem; margin: 0.4rem; opacity: 0.65;}
.value-box span.add { background-color: #FAFAFA; border-radius: 0 0.2rem 0.2rem 0;}
.value-box span.minus { background-color: #FAFAFA; border-radius: 0.2rem 0 0 0.2rem;}
.value-box span.add a { background-image: url(../images/value_add.png); background-repeat: no-repeat; background-repeat: 50% 50%; background-size: 100%;}
.value-box span.minus a { background-image: url(../images/value_minus.png); background-repeat: no-repeat; background-repeat: 50% 50%; background-size: 100%;}
.value-box span .buy-num { width: 1.2rem; height: 1.2rem; padding: 0; font-size: 0.6rem; font-weight: lighter; line-height: 1.3rem; text-align: center; border: solid #CCC; border-width: 0 0.05rem; border-radius: 0;}

/*默认按钮样式*/
.btn { vertical-align: top; display: inline-block !important; height: 1.1rem; padding: 0 0.3rem; margin: 0 auto; font-size: 0.6rem; color: #555 !important; line-height: 1.1rem; text-align: center; background-color: #FFF; border: solid 1px #CCC; border-radius: 0.15rem }
.btn.key { border-color: #ED5564; color: #ED5564 !important; font-weight: 600;}
.btn-l { display: inline-block; width: 90%; margin: 0 5%; font-size: 0.8rem; line-height: 1.8rem; text-align: center; color: #FFF; background: #e5ac52; border-radius: 0.2rem; }

/*图片选择上传*/
.nctouch-upload { display: inline-block; width: 1.94rem; height: 1.94rem; border: solid 0.05rem #EEE; border-radius: 0.1rem; vertical-align: top;}
.nctouch-upload a { position: relative; z-index: 1; display: block; width: 100%; height: 100%;}
.nctouch-upload span { position: absolute; z-index: 3; left: 0; top: 0; bottom: 0; right: 0;}
.nctouch-upload .input-file { width: 100%; height: 100%; padding: 0; margin: 0; border: none 0; opacity:0; filter: alpha(opacity=0);}
.nctouch-upload p { position: absolute; z-index: 1; left: 0; top: 0; bottom: 0; right: 0; background-color: transparent;}
.nctouch-upload p i { display: block; width: 100%; height: 100%; background-image: url(../images/value_add.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 50%; opacity: 0.25;}
.nctouch-upload .pic-thumb { position: absolute; z-index: 2; left: 0; top: 0; bottom: 0; right: 0; background-color: #FFFFFF; border-radius: 0.1rem;}
.nctouch-upload .pic-thumb img { width: 95%; height: 95%; margin: 2.5%}
.nctouch-upload .upload-loading { position: absolute; z-index: 4; left: 0; top: 0; bottom: 0; right: 0; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#3FFFFFFF', endColorstr='#3FFFFFFF');background:rgba(255,255,255,0.25); border-radius: 0.1rem;}
.nctouch-upload .upload-loading i { display: block; width: 100%; height: 5%; margin: 93% 0 2% 0; background: #4FC0E8; animation: optionLoading 0.5s ease-in-out; -webkit-animation:optionLoading 1s ease-in-out;}
 @keyframes optionLoading {
from { width: 0%;}
to { width: 100%;}
}
@-webkit-keyframes optionLoading {
from { width: 0%;}
to {  width: 100%;}
}

/*页内固定块*/
.fix-block-r { width: 1.9rem; position: fixed; z-index: 5; right: 0.5rem; bottom: 2.5rem;}
.fix-block-r a { display: block; width: 1.95rem; height: 1.95rem; background: rgba(255,255,255,0.85); border-radius: 100%; border: solid 0.05rem #EEE;  }
.fix-block-r a i { width: 100%; height: 100%; display: block; background-position: 50% 50%; background-repeat: no-repeat; background-size: 60%; opacity: 0.5;}
.fix-block-r a.gotop-btn { margin-top: 0.25rem;}
.fix-block-r a.gotop-btn i { background-image: url(../images/gotop_b.png);}
.fix-block-r a.browse-btn i { background-image: url(../images/goods_browse_b.png);}

/*页面整体下拉缓冲*/
.scroller-body { top: 0; bottom: 60px; right: 0; left: 0; position: absolute; z-index: auto; }
.scroller-more { z-index: 179;}

/* loading */
/*下拉读取*/
.loading { text-align: center; display: block; padding: 1rem 0; font-size: 0.55rem; color: #666;}
.nomore { text-align: center; display: block; padding: 0.5rem 0; font-size: 0.55rem; color: #666;display: none}
.spinner { display: inline-block; vertical-align: middle; margin-right: 0.4em; font-size: 1em; width: 1em; height: 1em; text-align: left; border-radius: 50%; box-shadow: inset 0 0 0 .1em rgba(58, 168, 237, .3); }
.spinner i { position: absolute; clip: rect(0, 1em, 1em, .5em); width: 1em; height: 1em; animation: spinner-circle-clipper 1s ease-in-out infinite; -webkit-animation: spinner-circle-clipper 1s ease-in-out infinite; }
 @keyframes spinner-circle-clipper {
 0% {
 transform: rotate(0deg);
}
 100% {
 transform: rotate(180deg);
}
}
@-webkit-keyframes spinner-circle-clipper {
 0% {
 -webkit-transform: rotate(0deg);
}
 100% {
 -webkit-transform: rotate(180deg);
}
}
.spinner i:after { position: absolute; clip: rect(0, 1em, 1em, .5em); width: 1em; height: 1em; content: ''; animation: spinner-circle 1s ease-in-out infinite; -webkit-animation: spinner-circle 1s ease-in-out infinite; border-radius: 50%; box-shadow: inset 0 0 0 .1em #3aa8ed; }
 @keyframes spinner-circle {
 0% {
 transform: rotate(-180deg);
}
 100% {
 transform: rotate(180deg);
}
}
@-webkit-keyframes spinner-circle {
 0% {
 -webkit-transform: rotate(-180deg);
}
 100% {
 -webkit-transform: rotate(180deg);
}
}
/*异步读取*/
.pre-loading { background:rgba(248,248,248,0.95); position: fixed; z-index: 999; top: 0; right: 0; bottom: 0; left: 0;}
.pre-block { text-align: center; position: absolute; z-index: 1; width: 6rem; height: 1rem; font-size: 0.55rem; color: #666; top: 50%; left: 50%; margin: -0.5rem 0 0 -3rem;}

.footnav { min-width:320px; background:#ffffff; border-top: 1px solid #c6c6c6; bottom: 0; font-size: 0.28rem; height: 2.2rem; position: fixed; width: 100%; z-index: 106;}
.footnav ul { font-size: 0;}
.footnav ul li { vertical-align: top; display: inline-block; text-align: center; width: 20%; padding: 0.2rem 0 0.2rem 0;position: relative;}
.footnav ul li a { display: block; position: relative;}
.footnav ul li a em { background-color: #ED5564; width: 0.3rem; height: 0.3rem; border-radius: 100%; position: absolute; top: -0.15rem; right: 0.85rem;}
.footnav ul li i { vertical-align: middle; display: inline-block; width: .9rem; height: .9rem; margin: 0.2rem auto 0.1rem auto;}
i.home { background-image: url(../images/home_b.png); background-size: cover;}
i.home.curr { background-image: url(../images/home_b_cur.png); background-size: cover;}
i.categroy { background-image: url(../images/browse_list.png); background-size: cover;}
i.categroy.curr { background-image: url(../images/browse_list_cur.png); background-size: cover;}
i.search { background-image: url(../images/search_ico.png); background-size: cover;}
i.search.curr { background-image: url(../images/search_ico_cur.png); background-size: cover;}
i.cart { background-image: url(../images/cart_b.png); background-size: cover;}
i.cart.curr { background-image: url(../images/cart_b_cur.png); background-size: cover;}
i.member { background-image: url(../images/member_b.png); background-size: cover;}
i.member.curr { background-image: url(../images/member_b_cur.png); background-size: cover;}
i.find { background-image: url(../images/find_b.png); background-size: cover;}
i.find.curr { background-image: url(../images/find_b_cur.png); background-size: cover;}
.footnav ul li p { font-size: 0.55rem; color: #333333; line-height: 1rem; height: 1rem;}
.footnav .nav_txt{display: block;height: .85rem;line-height:.85rem;font-size: 0.55rem;color: #555;}
.footnav .nav_txt.xcur{color: #F0AA3C}
/*文章*/
#article-content { font-size: 0.7rem;  background:#fff;padding: 10px;min-width: 320px; min-height:320px; margin: 0 auto; overflow: hidden;}
.article_type { padding-top:30px; color: #6d6d6d;line-height: 40px;height: 40px;display: block;text-align: center; width:100%;font-size: 20px;font-weight:bold;}
.article-list { margin-top:1.95rem;}
.article-list, .article-class {padding: 1px 0px 0px;}
.article-list, .article-class {}
.article-list-item, .article-class-item {padding-right: 50px; padding-left:10px; border-bottom:1px dotted #ded6c9;}
.article-list-item a, .article-class-item a{display: block;color: #6d6d6d; line-height: 40px;}
.article-list-item, .article-class-item{cursor:pointer;font-size: 14px;position: relative;}
.article-title {color: #6d6d6d;line-height: 40px;height: 40px;display: block;text-align: center; width:100%;font-size: 20px;font-weight:bold; font-weight:bolder; text-align:center; font-size: 0.8rem; }
.footnav ul li p.cur{
    color:#f0aa3c;
}

/*我的*/
.bg_y{
	width: 100%;
	height: 12.5rem;
	background: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #f4f4f4;
}
.member_head{
	width: 97%;
	margin: 0 auto;
	height: 7rem;
	background:#ffffff;
	/*box-shadow: -1px -1px 1px 1px #888888;*/
	position: relative;
	box-shadow: #666 0px 0px 10px;
}
.member_head .headimg{
    position: absolute;
    width: 100%;
    top: -1.8rem;
}
.member_head .headimg img{
	width:3.5rem;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	height: 3.5rem;
    object-fit: cover;
}
.member_head .name{
	font-size: 1rem;
	padding-top: 2.1rem;
	text-align: center;
	color: #4d4d4d;
	font-weight: 600;
}
.head_three_list{
	width: 33%;
	float: left;
	height: 1.8rem;
	margin-top: 0.5rem;
}
.ft_one{
	font-size: 0.85rem;
	text-align: center;
	color: #1a1a1a;
	font-weight: bold;
}
.ft_two{
	font-size: 0.65rem;
	text-align: center;
	color: #999999;
	font-weight: 600;
}
.bdr_l{
	border-left: 1px solid #f6f6f6;
}
.member_content{
	background-color: #ffffff;
    box-shadow: #e6e6e6 0px -2px 10px;
    z-index: 5;
    margin-top: -0.01rem;
    position: absolute;
    width: 100%;
}
.member_content_one{
	padding: 0.3rem 0.8rem;
}
.myorder{
	font-size: 0.8rem;
	color: #4d4d4d;
	font-weight: bold;
}
.showall{
	font-size: 0.7rem;
	color: #999999;
	float: right;
	padding-top: .3rem;
	padding-right: .8rem;
	position: relative;
	font-weight: 600;
}
.member_menu{
	border-bottom: 1px solid #f6f6f6;
}
.member_menu li{
	width: 25%;
	height: 4rem;
	float: left;
	position: relative;
}
.dreddian{
	display: block;
    position: absolute;
    height: 0.4rem;
    width: .4rem;
    background: #ed485c;
    top: 0.3rem;
    right: 0.95rem;
    border-radius: 50%;
    display: none
}
.clear{
	clear: both;
}
.bg_i{
	height: 1.5rem;
	width: 1.5rem;
	margin:0 auto;
	margin-top: 0.5rem;
}
.menu_txt{
	font-size: 0.7rem;
	text-align: center;
	margin-top: 0.3rem;
	color: #999999;
	font-weight: 600;
}
.daish{
	background:url(../images/daish.png);
	background-size: 100% 100%;
}
.daifh{
	background:url(../images/daifh.png);
	background-size: 100% 100%;
}
.daifk{
	background:url(../images/daifk.png);
	background-size: 100% 100%;
}
.daipj{
	background:url(../images/daipj.png);
	background-size: 100% 100%;
}
.thh{
	background:url(../images/thh.png);
	background-size: 100% 100%;
}
.xuanxiang{
	width: 100%;
	height: 2rem;
}
.xuanxiang_left{
	width: 10%;
	height: 100%;
	float: left;
	position: relative;
}
.xuanxiang_right{
	width: 90%;
	height: 100%;
	border-bottom: 1px solid #f6f6f6;
	float: left;
	line-height: 2rem;
	font-size: 0.7rem;
	color: #555555;
	position: relative;
}
.xuanxiang_right span{
	padding-left: 0.3rem;
	font-weight: 600;
}
.left_icon{
	display: block;
	position: absolute;
	width: 0.8rem;
	height:0.8rem;
	left: 0.8rem;
	top: 0.6rem;
}
.border-none{
	border: none;
}
.hongbao{
	background:url(../images/hongbao.png);
	background-size: 100% 100%;
}
.sc{
	background:url(../images/sc.png);
	background-size: 100% 100%;
}
.yaoqing{
	background:url(../images/Invite_.png);
	background-size: 100% 100%;
}
.yaoqingj{
	background:url(../images/Invite_jilu.png);
	background-size: 100% 100%;
}
.dianpu{
	background:url(../images/dp_icon.png);
	background-size: 100% 100%;
}
.dizhi{
	background:url(../images/dizhi.png);
	background-size: 100% 100%;
}
.shezhi{
	background:url(../images/shezhi.png);
	background-size: 100% 100%;
}
.goleft{
    display: block;
    position: absolute;
    height: 0.7rem;
    width: 0.7rem;
    background: url(../images/go_left.png);
    top: 0.42rem;
    right: 0.05rem;
    background-size: 100% 100%;
}
.right_go{
	display: block;
	position: absolute;
	height: 0.8rem;
	width: 0.8rem;
	background: url(../images/go_left.png);
	top: 0.6rem;
	right: 0.8rem;
	background-size: 100% 100%;
}
/*find 发现模块*/
.find_list{
	margin: 0.5rem;
	position: relative;
}
.find_list img{
	width: 100%;
	height: 100%:;
}
.find_list .title{
	font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    background-color: black;
    opacity: 0.4;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10
}
.find_list .title2{
	font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    z-index: 100;
    padding-left: 0.5rem;
}
.find_list .title3{
	font-size: 0.7rem;
    height: 1.6rem;
    line-height: 1.6rem;
    color: #e8e8e8;
    position: absolute;
    bottom: 0;
    z-index: 100;
    padding-left: 0.5rem;
    right: 1rem;
}
/*cart_list*/
.cart_list{
	margin: 0 0.5rem;
	border-bottom: 1px solid #f6f6f6;
	height: 4rem;
}
.input{
	width: 10%;
	height: 100%;
	position: relative;
	float: left;
}
.input input{
	width: 0.8rem;
	height: 0.8rem;
	border:1px solid #4a4a4a;
	border-radius: 50%;
	margin: 0 auto;
	position: absolute;
	left: 0.4rem;
	top: 40%;
}
.input input:checked{
	background-color: #e5ac52;
	border:1px solid #e5ac52;
}
.cart_list .img{
	height: 100%;
	width: 25%;
	float: left;
}
.cart_list .title{
	height: 100%;
	width: 40%;
	float: left;
}
.cart_list .img img{
	width: 3rem;
	height: 3rem;
	margin: 0 auto;
	display: block;
	vertical-align: middle;
	margin-top: 0.5rem;
}
.title div{
	font-size: 0.6rem;
	margin-top: 1.1rem;
	color: #555555;
}
.cart_list .desc{
	float: right;
	width: 20%;
	text-align: right;
}
.cart_list .desc .desc_one{
	font-size: 0.8rem;
	color: #eaa85a;
	margin-top: 1.1rem;
}
.cart_list .desc .desc_two{
	font-size: 0.6rem;
	color: #979797;
}
.cart_menu{
	height: 2.5rem;
	width: 100%;
	border-top: 1px solid #f6f6f6;
	position: fixed;
	bottom: 2.3rem;
	background: white;
}
.cart_menu_div{
	width: 33.3%;
	height: 100%;
	float: left;
	position: relative;
}
.cart_menu_div input{
	width: 0.8rem;
	height: 0.8rem;
	border:1px solid #4a4a4a;
	border-radius: 50%;
	margin: 0 auto;
	position: absolute;
	left: 0.8rem;
	top: 32%;
}
.cart_xx{
	width: 100%; background-color: #F0AA3C;height: 2rem;display: block;line-height: 2rem;text-align: center;color: #FFF;font-size: 0.7rem;position: relative;
}
.cart_xxx{
	width: 100%; background-color: #ED5564;height: 2rem;display: block;line-height: 2rem;text-align: center;color: #FFF;font-size: 0.7rem;
}
.cart_xx sup {
    font-weight: 0;
    position: absolute;
    left: 10.1rem;
    top: 0.3rem;
    display: inline-block;
    padding: 0.28rem 0.15rem;
    background: white;
    color: #FB6E52;
    font-size: 0.6rem;
    border-radius: 50%;
    line-height: 0;
}
.cart_menu_div input:checked{
	background-color: #e5ac52;
	border:1px solid #e5ac52;
}
.tui_btn{
    height: 100%;
    font-size: 0.65rem;
    line-height: 1.95rem;
    width: 2rem;
    position: absolute;
    right: 0;
    color: white;
}
.checkall{
	font-size: 0.65rem;
	color: #555555;
	display: block;
	text-align: center;
	line-height: 2.5rem;
}
.totle{
	display: block;
	text-align: center;
	line-height: 2.5rem;
	font-size: 0.65rem;
	color: #555555;
}
.cl_e5{
	color: #F0AA3C;
}
.categroy_img{
	height: 3rem;
	width: 3rem;
	display: block;
	margin: 0 auto;
}
.settlement{
	display: block;
	height: 100%;
	width: 100%;
	text-align: center;
	line-height: 2.5rem;
	font-size: .7rem;
	font-weight: bold;
	color: white;
	background: #F0AA3C;
}
.bg_e5{
	background: #F0AA3C;
}
.categroy_banner{
	/*position: absolute;
    top: 2.2rem;
    left: 4.0rem;
    width: 12.3rem;
    z-index: 0;*/
    width: 100%;
}
.search_head{
	background: #e8e8e8;
    height: 1.95rem;
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    border-bottom: solid 0.05rem #EEE
}
.search_list_lately{
	font-size: 0.65rem;
}
.search_list_lately div{
	font-size: 0.8rem;
	padding:0 0.5rem;
}
.search_list_lately li{
	float: left;
	padding: 0.2rem 0.5rem;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	background: #e8e8e8;
	border-radius: 5px;
	color: #555555;
	margin-top: 0.5rem;
}
.search_del{
	position: absolute;
	display: block;
	height: 0.8rem;
	width: 0.8rem;
	background: url(../images/del.png);
	background-size: 100% 100%;
	right: 0.5rem;
	top: 0.9rem;
}

/*注册 */

.font_color {
    background-color:#333333;
    color:#ffffff;
    height: 100%;
}

.bg_register{
    height:500px;
    background:url(../images/1522229962.png);
    background-size: 100% 100%
}

.bg_find{
    height:300px;
    background:url(../images/1522229962.png);
    background-size: 100% 100%
}

.link_mobile{
   	text-align: center;
    font-size: 0.6rem;
    display: block;
    float: right;
    border-radius: 2rem;
    padding: 0.25rem 0.6rem;
    margin-top: 0.35rem;
}

/*默认输入表单*/
.register_form { display: block; clear: both;  width:95%;margin:auto;box-shadow: #f9f5ec 0px 0px 10px;border-radius: 10px;background: white;border-radius: 15px;padding:0.5rem 0 1.5rem 0;}
.register_form ul {}
.register_form ul li { position: relative; z-index: 1; display: block; min-height: 1.95rem;margin: 0 0.7rem; background-color: #FFF; border-bottom: solid #EEE 0.05rem;}
.register_form ul li:nth-last-child(1) {/* border-bottom: none 0; */}
.register_form ul li.upload-item { height: 2.55rem}
.register_form ul li h4 { position: absolute; z-index: 1; top: 0; left: 0; width: 3.5rem; font-size: 0.6rem; line-height: 1.95rem; color: #575757; text-align: left;}
.register_form ul li .input-box { display: block; height: 1.95rem; margin: 0 0.5rem 0 3.5rem; position: relative; z-index: 1;}
.register_form ul li.upload-item .input-box { height: 1.95rem; padding: 0.3rem 0;}
.register_form ul li .input-box .inp { width: 100%; min-height: 0.95rem; padding: 0.5rem 0; border: 0 none; font-size: 0.6rem; line-height: 0.95rem; color: #000;}
.register_form ul li .input-box .input-del { position: absolute; z-index: 1; top: 0.5rem; right: 0.5rem; display: none; width: 0.975rem; height: 0.975rem; background-image: url(../images/cancel_b.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 60%; opacity: 0.4;}
.register_form ul li .input-box.write .input-del { display: block;}
.register_form ul li .input-box .input-del2 { position: absolute; z-index: 1; top: 0.5rem; right: 0.5rem; display: none; width: 0.975rem; height: 0.975rem; background-image: url(../images/cancel_b.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 60%; opacity: 0.4;}
.register_form ul li .input-box.write .input-del2 { display: block;}
.register_form ul li .input-box .checkbox { position: absolute; z-index: 1; top: 0.5rem; left: 0.5rem;}
.register_form ul li .input-box .txt { margin: 0 0 0 1.5rem; font-size: 0.7rem; line-height: 1.95rem; color: #555;}
.register_form ul li .input-box .note { position: absolute; z-index: 1; right: 0; top: 0.25rem; height: 1.6rem; text-align: right;}
.register_form ul li .input-box .note em { display: block; vertical-align: top; font-size: 0.6rem; font-weight: 600; color: #36BC9B; line-height: 0.8rem;}
.register_form ul li .input-box .note h6 { display: block; vertical-align: top; font-size: 0.55rem; color: #999; line-height: 0.8rem;}
.register_form ul li .input-box .select { width: 95%; height: 1.95rem;  margin: 0; font-size: 0.55rem; background-color: transparent; line-height: 1.95rem; border: 0 none; appearance: none; -webkit-appearance: none; /*for chrome*/}
.register_form ul li .input-box .arrow-down { position: absolute; z-index: 1; top: 0.5rem; right: 0; display: block; width:0.975rem; height: 0.975rem; background-image: url(../images/arrow_down_b.png); background-repeat: no-repeat; background-repeat: 50% 50%; background-size: 50%; opacity: 0.5;}
.register_form .form-btn { margin-top: 2rem;}
.register_form .form-btn .btn { display: inline-block; width: 90%; height: 1.8rem; padding: 0; margin: 0 5%; font-size: 0.8rem; line-height: 1.8rem; text-align: center; color: #888; background: #EEE; border: none; border-radius: 2rem; }
.register_form .form-btn.ok .btn { color: #FFF !important; background: #e5ac52;}
/*login*/
.login_form { display: block; clear: both;  width:95%;margin:auto;box-shadow: #f9f5ec 0px 0px 10px;border-radius: 10px;background: white;border-radius: 15px;padding:0.5rem 0 2.5rem 0;}
.login_form ul {}
.login_form ul li { position: relative; z-index: 1; display: block; min-height: 1.95rem;margin: 0 0.7rem; background-color: #FFF;}
.login_form ul li:nth-last-child(1) {/* border-bottom: none 0; */}
.login_form ul li.upload-item { height: 2.55rem}
.login_form ul li h4 { position: absolute; z-index: 1; top: 0; left: 0; width: 3rem; font-size: 0.6rem; line-height: 1.95rem; color: #575757; text-align: left;}
.login_form ul li .input-box { display: block; height: 1.95rem; margin: 0 0.5rem 0 1.7rem; position: relative; z-index: 1;border-bottom: solid #EEE 1px;}
.login_form ul li.upload-item .input-box { height: 1.95rem; padding: 0.3rem 0;}
.login_form ul li .input-box .inp {width: 100%; min-height: 0.95rem; padding: 0.5rem; border: 0 none; font-size: 0.6rem; line-height: 0.95rem; color: #000;}
.login_form ul li .input-box .input-del { position: absolute; z-index: 1; top: 0.5rem; right: 0.5rem; display: none; width: 0.975rem; height: 0.975rem; background-image: url(../images/cancel_b.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 60%; opacity: 0.4;}
.login_form ul li .input-box.write .input-del { display: block;}
.login_form ul li .input-box .input-del2 { position: absolute; z-index: 1; top: 0.5rem; right: 0.5rem; display: none; width: 0.975rem; height: 0.975rem; background-image: url(../images/cancel_b.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 60%; opacity: 0.4;}
.login_form ul li .input-box.write .input-del2 { display: block;}
.login_form ul li .input-box .checkbox { position: absolute; z-index: 1; top: 0.5rem; left: 0.5rem;}
.login_form ul li .input-box .txt { margin: 0 0 0 1.5rem; font-size: 0.7rem; line-height: 1.95rem; color: #555;}
.login_form ul li .input-box .note { position: absolute; z-index: 1; right: 0; top: 0.25rem; height: 1.6rem; text-align: right;}
.login_form ul li .input-box .note em { display: block; vertical-align: top; font-size: 0.6rem; font-weight: 600; color: #36BC9B; line-height: 0.8rem;}
.login_form ul li .input-box .note h6 { display: block; vertical-align: top; font-size: 0.55rem; color: #999; line-height: 0.8rem;}
.login_form ul li .input-box .select { width: 95%; height: 1.95rem;  margin: 0; font-size: 0.55rem; background-color: transparent; line-height: 1.95rem; border: 0 none; appearance: none; -webkit-appearance: none; /*for chrome*/}
.login_form ul li .input-box .arrow-down { position: absolute; z-index: 1; top: 0.5rem; right: 0; display: block; width:0.975rem; height: 0.975rem; background-image: url(../images/arrow_down_b.png); background-repeat: no-repeat; background-repeat: 50% 50%; background-size: 50%; opacity: 0.5;}
.login_form .form-btn { margin-top: 1.2rem;}
.login_form .form-btn .btn { display: inline-block; width: 90%; height: 1.8rem; padding: 0; margin: 0 5%; font-size: 0.8rem; line-height: 1.8rem; text-align: center; color: #888; background: #EEE; border: none; border-radius: 2rem; }
.login_form .form-btn.ok .btn { color: #FFF !important; background: #e5ac52;}
.login_form ul li .head{
	display: block;
	position: absolute;
	width: 1.1rem;
	height: 1rem;
	background: url(../images/head.png);
	background-size: 100% 100%;
	left: 0.7rem;
	top: 0.5rem;
}
.x_left{
	width: 50%;
	float: left;
	height: 2.2rem;
	line-height: 2.2rem;
}
.x_left a{
	font-size: 0.6rem;
	color: #e5ac52;
	padding: 0 1.2rem;
}
.tx_left{
	text-align: left;
}
.tx_right{
	text-align: right;
}
.login_form ul li .lock{
	display: block;
	position: absolute;
	width: 1rem;
	height: 1rem;
	background: url(../images/lock.png);
	background-size: 100% 100%;
	left: 0.75rem;
	top: 0.4rem;
}
.bg_login{
    width: 100%;
    background:url(../images/1522229962.png);
    background-size: 100% 100%;
}
.login_img1{
     text-align:center;
}

.login_img1 img{
	width: 3.5rem;
	padding: 2rem 0 3rem 0;
}

.login_input input{
   
    background-color:transparent;
}

.forgot_pwd{
    margin-top:1px;
    font-size:14px;
    float:right;
    color:#757575;
}

/*邀请注册*/
.invitation_head_bg{
	background: url(../images/invitation_bg.png);
	background-size: 100% 100%;
	width: 100%;
	height: 5rem;
	position: relative;
	margin-top: 1.95rem;
}
.invitation_content{
	background: #ffefdc;
	width:100%;
	/*min-height: 23rem;    */
    min-height: 81vh;
	margin-top: -0.15rem;
}
.invitation_head_bg .headimg{
	width: 3rem;
	display: block;
	margin:0 auto;
	padding-top: 2.8rem;
}
.invitation_head_bg .nickname{
	text-align: center;
	font-size: 1rem;
	color: #4d4d4d;
}
.duihua{
	background: url(../images/duihua.png);
    width: 60%;
    height: 3.5rem;
    margin: 0 auto;
	background-size: 100% 100%;
}
.duihua_txt{
	font-size: 0.7rem;
	color: white;
	padding:1.1rem 1rem 0 1rem;
}
.code_bg{	
	width: 70%;
	height: 11.5rem;
	background: url(../images/code_bg.png);
	background-size: 100% 100%;
	margin: 2.5rem auto 0 auto;
}
.code_num{
	text-align: center;
	font-size: 0.9rem;
	color: #e5ac52;
	padding: 0.8rem 0 0rem 0;
	font-weight: 600;
}
.code_txt{
	text-align: center;
	font-size: 0.65rem;
	color: #e5ac52;
}
.code_bg .chart{
	width: 4.5rem;
	margin: 0.5rem auto 0 auto;
	display: block;
}
.code_bg .txt{
	text-align: center;
	font-size: 0.65rem;
	color: #555;
	margin-top: 0.3rem;
}
.invitation_head_bg .logo{
	width: 4.5rem;
	display: block;
	margin: 0 auto;
	padding-top: 2.8rem;
}

.invite_record{
	width: 80%;
	margin: 0 auto;
	padding-top: 16rem;
}
.invite_record img{
	width: 100%;
	height: 100%;
}
.record_list{
	padding: 0.5rem;
	border-top: 1px solid #e5e5e5;
	position: relative;
}
.record_list .name{
	font-size: .8rem;
	color: #555555;
	font-weight: 600;
}
.record_list .time{
	font-size: 0.65rem;
	color: #555555;
	margin-top: .1rem;
}
.record_list .phone{
	font-size: 0.75rem;
	color: #555555;
	font-weight: 600;
	position: absolute;
	right: 0.5rem;
	top: 1.1rem;
}
.invitation_content .bottom{
	height: 1rem;
	width: 100%;
	border-top: 1px solid #e5e5e5
}
.mr_t1{
	margin-top: 1rem;
}

/*下载页*/
.download_bg{
	background: url(../images/download_bg.png);
	background-size: 100% 100%;
	/*height: 24.5rem;*/
	height: 92vh;
	width: 100%;
	position: relative;
}
.download_logo{
	width: 3rem;
	display: block;
	margin: 0 auto;
	padding: 1.5rem 0;
}
.download_txt{
	font-size: 0.65rem;
    /* text-align: center; */
    color: #555;
    padding: 1.3rem 0.7rem;
    line-height: 1rem;
    color: #333333;
}
.down_btn{
	display: block;
	width: 50%;
	height: 2.3rem;
	line-height: 2.3rem;
	font-size: 0.7rem;
	background: #e5ad50;
	color: white;
	border-radius: 10px;
	text-align: center;
	margin:2rem auto 0 auto;
}
.download_bg .chart{
	width: 5rem;
	display: block;
	margin: 0 auto;
}
.download_bg .txt{
	font-size: 0.75rem;
	text-align: center;
	color: #555;
	padding-top: 0.5rem;
}
.footer_img{
	width: 100%;
}

/*消费券*/
.coupon_bg{
	background: url(../images/coupon_bg.png);
	background-size: 100% 100%;
	width: 100%;
	height: 27rem;
}
.coupon_bg .yuan{
	width: 8rem;
	height: 8rem;
	margin:0 auto;
	background: url(../images/yuan.png);
	background-size: 100% 100%;
	text-align: center;
}
.coupon_bg .yuan .money{
	font-size: 1.5rem;
	color: white;
	padding-top: 3rem;
}
.coupon_bg .yuan .txt{
	font-size: 0.7rem;
	color:white;
	padding-top: 0.9rem;
}
.coupon_bg .cz{
	font-size: 0.7rem;
	text-align: center;
	width: 80%;
	height: 2rem;
	line-height: 2rem;
	margin:6rem auto 0 auto;
	background: #e5ac52;
	color: white;
	border-radius: 20px;
}
.coupon_bg .tx{
	font-size: 0.7rem;
	text-align: center;
	width: 80%;
	height: 2rem;
	line-height: 2rem;
	margin:1rem auto 0 auto;
	background: white;
	color: #5a5a5a;
	border-radius: 20px;
	border:1px solid #e8e8e8;
}

/*商品详情底部收藏*/
.otreh-handle .sc_icon{
	height: 1rem;
    width: 1rem;
    display: block;
    position: absolute;
    left: 1.2rem;
    top: 0.45rem;
}
.otreh-handle .n-sc_icon{
	background: url(../images/favorite_r.png);
	background-size: 100% 100%;
}
.otreh-handle .s-sc_icon{
	background: url(../images/favorite_rs.png);
	background-size: 100% 100%;
}

/*红包样式*/
.hblist{
	margin-top: 0.6rem;
}
.hblist .hblisttop{
	height: 3.5rem;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	line-height: 3.5rem;
	padding: 0 1rem;
	color: white;
	font-size: 1rem;
	position: relative;
}
.hblist .wlq{
	background: #f4a93b;
}
.hblist .ylq{
	background: #f5c595;
}
.hblist .ygq{
	background: #d8d8d8;
}
.cl_99{
	color: #999999;
}
.hblist .hblistbottom{
	background: white;
	height: 1.5rem;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	line-height: 1.5rem;
	font-size:0.6rem;
	padding: 0 0.8rem;
}
.fl_right{
	float:right;
}
.icon_hb{
	width: 2rem;
	float: right;
	padding-top: 0.6rem;
}
.fade{
	background: black;
	position: fixed; top: 0;
	height: 100%;
	width: 100%;
	opacity: 0.4;
	display: none;
}
.list_model{
	z-index: 100;
	width: 90%;
	position: fixed;
	top: 8rem;
	left: 2.6rem;
	display: none;
}
.list_model img{
	width: 80%;
}
.list_model .title{
	position: absolute;
	top: 0;
	width: 80%;
	text-align: center;
	height: 2.5rem;
	line-height:2.5rem;
	color: white;
	font-size: 1rem;
}
.list_model .huode{
	position: absolute;
	top: 2.5rem;
	font-size: 0.6rem;
	width: 80%;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	color: #c46142;
}
.list_model .money{
	position: absolute;
	top: 4.5rem;
	text-align: center;
	font-size: 1.5rem;
	width: 80%;
	height: 3rem;
	line-height: 3rem;
	color: #bf5140;
}
.list_model .fs_12{
	font-size: 0.7rem;
}
.list_model .exit{
	display: block;
	background: url(../images/exit.png);
	background-size: 100% 100%;
	height: 1rem;
	width: 1rem;
	top: 0.2rem;
	left: 0.2rem;
	position: absolute;
	z-index: 101;
}
.padd2{
	padding:0 2rem;
}
.add-cart sup{
	font-weight: 0;
	position: absolute;
	right: 5.35rem;
	top: 0.3rem;
	display: inline-block;
	padding:0.28rem 0.15rem;
	background: white;
	color: #FB6E52;
	font-size: 0.6rem;
	border-radius: 50%;
	line-height: 0;
}
.none_hb{
	margin-top: 2rem;
	width: 4rem;
	background: #cecece;
	height:4rem; 
	margin:0 auto;
	border-radius: 50%;
	display: flex;
  	justify-content: center;  
  	align-items: center;     
}
.none_hb img{
	width: 2rem;
	margin:0 auto;
	display: block;
	line-height: 6rem;
	vertical-align: middle;
}
.none_hb_txt{
	font-size: 0.7rem;
	color:#343434;
	text-align: center;
	margin: 1rem 0 2rem 0;
}
.none_hb_btn{
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 3rem;
	height: 1.5rem;
	font-size: 0.7rem;
	line-height: 1.5rem;
	padding: 0rem 0.7rem;
	border:1px solid #c6c6c6; 
	color:#343434;
	border-radius: 10px;
}
/*发现详情*/
.finddetail_content{
	padding: 0.7rem 0.5rem;
}
.finddetail_content .title{
	font-size: 0.9rem;
	font-weight: 600;
}
.finddetail_content .time{
	font-size: .6rem;
	color: #555;
	height: 1.1rem;
	line-height: 1.1rem;
}
.finddetail_content .paragraph{
	font-size: .7rem;
	color: #555555;
	padding: 0.2rem 0;
	text-align: justify;
        word-wrap:break-word;
        word-break:normal;
}
.finddetail_content img{
	width: 100%;
	margin: 0.2rem 0;
	height: auto;
}


/*改版的支付框*/

.nctouch-bottom-mask-closes { position: absolute; z-index: 1; top: 0.6rem; right: 0.2rem; background: #FFF; width: 1rem; height: 1rem; padding: 0.15rem; border-radius: 100%;}
.nctouch-bottom-mask-closes i { display: block; width: 100%; height: 100%; background-image: url(../images/exit.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 100%; opacity: 0.5rem;}
.keyword{
    width: 100%;
    height: 17rem;
    background: white;
    z-index: 22;
    position: fixed;
    bottom: 0;
}
.keyword .head{
	height: 2rem;
	line-height: 2rem;
	font-size: 0.8rem;
	text-align: center;
	border-bottom: 1px solid #eee;
}
.keyword-closes{
	position: absolute; z-index: 1; top: 0.3rem; right: 0.2rem; background: #FFF; width: 1rem; height: 1rem; padding: 0.15rem; border-radius: 100%;
}
.keyword-closes i{
	display: block; width: 100%; height: 100%; background-image: url(../images/exit.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 100%; opacity: 0.5rem;
}
.keyword .xinput{
	padding: 1rem 1.2rem;
	height: 2rem;
	line-height: 2.4rem;
	font-size: 1.2rem;
	border-bottom: 1px solid #eee;
}
.keyword .xinput div{
	float: left;
	width: 16%;
	height: 100%;
	text-align: center;
	border:1px solid #999999;
	border-right: none;
}
.keyword .password{
    padding: 2.4rem 0.4rem 0 .4rem;
}
.password .hengpai{
	width: 100%;
	height: 2rem;
}
.password .hengpai .xkey:active{
	background:#999999;
}
.password .hengpai div{
	float: left;
	width: 33%;
	height: 100%;
	font-size: 0.8rem;
	color: black;
	text-align: center;
	line-height: 2rem;
	font-size: 1.2rem;
	border:1px solid #999999;
	border-right:none;
}
.password .del{
	background: url(../images/_keyworddel.png);
	background-size: 2.3rem 1.5rem;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #d0d0d0;
}
.reddian{
    display: block;
    position: absolute;
    height: 0.4rem;
    width: .4rem;
    background: #ed485c;
    top: 0.25rem;
    right: 0.85rem;
    border-radius: 50%;
}

/*充值*/
.recharge_title{
	font-size: .7rem;
	padding: 0 0.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
	padding-top: .5rem;
}
.shuruk{
	padding: .5rem 0rem;
	border-bottom: 1px solid #eee;
	margin: 0 .5rem;
}
.shuruk span{
	font-size: 1.5rem;
	height: 1rem;
	line-height: 1rem;
	font-weight: 600;
}
.shuruk input{
	height: 1.5rem;
	width: 80%;
	border:none;
	font-size: 1.5rem;
	font-weight: 600;
}
.beixuan{
	margin:1rem .5rem;
}
.beixuan li{
	float: left;
	width: 31%;
	margin-left: .2rem;
	text-align: center;
	font-size: 0.8rem;
	height: 2rem;
	line-height: 2rem;
	border:1px solid #F0AA3C;
	margin-top: .5rem;
	color:#F0AA3C;
}
.radio{
	margin:0 .5rem;
	/*padding: .5rem 0;*/
	border-bottom:1px solid #eee;
	position: relative;
	height: 2rem;
	line-height: 2rem;
	position: relative;
}
.radio p{
	font-size: 0.65rem;
	position: absolute;
    z-index: 1;
    top: 0rem;
    left: 0rem;
    color: #555;
    padding-left: 1.2rem;
}
.recharge_btn{
	margin-top: 2rem;
}
.recharge_btn span{
	font-size: 0.7rem;
	width: 80%;
	display: block;
	margin:0 auto;
	text-align: center;
	background: #F0AA3C;
	color: white;
	height: 1.8rem;
	line-height: 1.8rem;
	border-radius: 20px;
}
.x_icon{
	display: block;
	position: absolute;
	height: 1rem;
	width: 1rem;
	left: 0;
	top: 0.35rem;
}
.ye_icon{
	background: url(../images/ye_icon.png);
	background-size: 100% 100%;
}
.wx_icon{
	background: url(../images/wx_pay_icon.png);
	background-size: 100% 100%;
}
.zfb_icon{
	background: url(../images/zfb_icon.png);
	background-size: 100% 100%;
}
.pay_txt{
	font-size: .7rem;line-height: 1.95rem;color: black;
}
.tuijian_icon{
	font-size: .5rem;
	color: #fff;
	background: #F0AA3C;
	padding: .07rem .1rem;
	border-radius: 3px;
}
.payselect.cur{
	background: url(../images/pay_select.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 1.5rem 1.5rem;
}
.radio_icon{
	display: block;
	height: 1rem;
	width: 1rem;
	position: absolute;
	top: 0.43rem;
}
.radio_icon.wx{
	background: url(../images/wx_pay_icon.png);
	background-size: 100% 100%;
}
.radio_icon.zfb{
	background: url(../images/zfb_icon.png);
	background-size: 100% 100%;
}


/*余额明细*/
.money_detailed li{
	padding:0.5rem;
	border-bottom: 1px solid #e8e8e8;
	position: relative;
}
.money_detailed .title{
	font-size: .7rem;
}
.money_detailed .time{
	font-size: .65rem;
	color: #999999;
	margin-top: .1rem;
}
.money_detailed .how{
	position: absolute;
	right: .5rem;
	top: 1rem;
	font-size: .75rem;
}
.money_detailed .how.cl_b{
	color: black;
}
.money_detailed .how.cl_f{
	color: #F0AA3C;
}
.money_icon{
    background: url(../images/money_detailed.png);
    background-size: 100% 100%;
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: .3rem;
    top: 0.4rem;
}
.introduce{
	font-size: 0.65rem;
	color: #333333;
	padding: 0.5rem 0.5rem;
	background: white;
}
.tabul{
	font-size: .7rem;
	font-weight: bold;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	margin-top: 0.5rem;
	color: #999;
	background: white;
}
.tabul span.active
{
	border-bottom: 2px solid #333;
	padding-bottom: 0.2rem;
	color: #333
}
.pjli{
	padding: 0.5rem;
	position: relative;
	border-bottom: solid 0.05rem #EEE;
}
.pjli .headimg{
	width: 2rem;
	border-radius: 50%;
}
.pjli .name{
    font-size: .65rem;
    color: #888;
    position: absolute;
    top: 1.05rem;
    left: 3rem;
}
.pjli .desc{
	font-size: 0.7rem;
	color: #333;
	margin-top: .1rem;
    word-break: break-all;
    text-align: justify;
}
.zwpl{
	height: 5rem;
	text-align: center;
	font-size: 0.8rem;
	background: white;
	line-height: 5rem;
	display: none;
}

/*loading*/

	@-webkit-keyframes loading {
   from {opacity: 1;width:5px;height:20px;}
  to {opacity: 0.25;width:5px;height:20px;}
 }
 .load_wrapper {
   position: absolute;
   top:50%;
   left:50%;
	display: inline-block;
   zoom: 0.6; /*通过修改这个值(值的区间为0-1)的大小来设置菊花的大小*/
   display: block;
 }
 .load_wrapper div {
   width:3px;
   height:16px;
   background: #a4a2a4;
   position: absolute;
   left: 100%;
  top: 100%;
   opacity: 0;

   -webkit-animation: loading 1.2s linear infinite;
 }
 .load_wrapper .line1 {-webkit-transform:rotate(0deg) translate(0, -34px); -webkit-animation-delay: 0s;}
 .load_wrapper .line2 {-webkit-transform:rotate(30deg) translate(0, -34px); -webkit-animation-delay: 0.1s;}
 .load_wrapper .line3 {-webkit-transform:rotate(60deg) translate(0, -34px); -webkit-animation-delay: 0.2s;}
 .load_wrapper .line4 {-webkit-transform:rotate(90deg) translate(0, -34px); -webkit-animation-delay: 0.3s;}
 .load_wrapper .line5 {-webkit-transform:rotate(120deg) translate(0, -34px); -webkit-animation-delay: 0.4s;}
 .load_wrapper .line6 {-webkit-transform:rotate(150deg) translate(0, -34px); -webkit-animation-delay: 0.5s;}
 .load_wrapper .line7 {-webkit-transform:rotate(180deg) translate(0, -34px); -webkit-animation-delay: 0.6s;}
 .load_wrapper .line8 {-webkit-transform:rotate(210deg) translate(0, -34px); -webkit-animation-delay: 0.7s;}
 .load_wrapper .line9 {-webkit-transform:rotate(240deg) translate(0, -34px); -webkit-animation-delay: 0.8s;}
 .load_wrapper .line10 {-webkit-transform:rotate(270deg) translate(0, -34px); -webkit-animation-delay: 0.9s;}
 .load_wrapper .line11 {-webkit-transform:rotate(300deg) translate(0, -34px); -webkit-animation-delay: 1.0s;}
 .load_wrapper .line12 {-webkit-transform:rotate(330deg) translate(0, -34px); -webkit-animation-delay: 1.1s;}
 .fail_show{
 	display: none;
 	padding-top: 10rem;
 	text-align:center;
 	font-size: 0.75rem;
 }
 .goods_jingle{
    height:  0.8rem;
    line-height:  0.8rem;
    font-size:  0.6rem;
    color:  #999999;
    margin-top: .2rem;
 }
 .bg_f0{
 	background: #F0AA3C;
    color: #ffffff;
    height: 100%;
 }