@charset "utf-8";
.informatiob_ul{
	background: white;
}
.informatiob_ul li{
    border-bottom: solid 1px #EEE;
    padding: 0.8rem 0.5rem;
    font-size: 0.7rem;
    position: relative;
}
.informatiob_ul li .name{
	float: right;
	margin-right: 1rem;
	color: #999999;
}
.informatiob_ul li .file{
 	opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
.touxiang{
	width: 2rem;
    height: 2rem;
	position: absolute;
	border-radius: 50%;
	right: 1.5rem;
	top: 0.25rem;
    object-fit: cover;
}
.informatiob_go {
    display: block;
    position: absolute;
    height: .8rem;
    width:.8rem;
    background: url(../images/go_left.png);
    top: .9rem;
    right: 0.4rem;
    background-size: 100% 100%;
}