<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>发现</title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/nctouch_common.css">
<style type="text/css">
	 body{
	    background: white;
	  }
</style> 
</head>
<body> 
		<header id="header" style="border:none;position: fixed;z-index: 101;">
          <div class="header-wrap font_color" style="background: #333333;" >
            <!-- <div class="header-l"><a href="javascript:history.go(-1)"><i class="back"></i></a></div> -->
            <div class="header-title">
              <h1>发现</h1>
            </div>
             <!-- <div class="header-r"> <a id="header-nav" href="login.html" class="text">登录</a> </div>  -->
          </div>
        </header>
<div style="width: 100%;height: 1.95rem;"></div>
    <div class="volist_art">
	
    </div>
<!-- <header id="header">
	<div class="header-wrap">
		<div class="header-l">
			<a href="javascript:history.go(-1)">
				<i class="back"></i>
			</a>
		</div>
		<div class="header-inp">
			<i class="icon"></i>
			<input type="text" class="search-input" value="" oninput="writeClear($(this));" id="keyword" placeholder="请输入搜索关键词" maxlength="50" autocomplete="on" autofocus>
			<span class="input-del"></span>
		</div>
		<div class="header-r">
			<a id="header-nav" href="javascript:void(0);" class="search-btn">搜索</a>
		</div>
	</div>
</header> -->

<!-- 全文搜索提示 begin -->
<!-- <div class="nctouch-main-layout mb-20" id="search_tip_list_container" style="display:none"></div>
<script type="text/html" id="search_tip_list_script">
<ul class="nctouch-default-list">
<%for(i = 0; i < list.length; i++){%>
	<li><a href="<%=$buildUrl('keyword',list[i])%>"><%=list[i]%></a></li>
<%}%>
</ul>
</script> -->
<!-- 全文搜索提示 end -->

<!-- <div id="store-wrapper">
  <div class="nctouch-search-layout">
    <dl class="hot-keyword">
      <dt>热门搜索</dt>
      <dd id="hot_list_container"></dd>
    </dl>
    <dl>
      <dt>历史纪录</dt>
      <dd id="search_his_list_container"></dd>
    </dl>
  </div>
</div> -->
<li class="loading" id="loading"><div class="spinner"><i></i></div>数据读取中...</li>
<li  class="nomore" id="nomore">没有更多了…</li>
<div style="width: 100%;height: 1.95rem;"></div>
<footer id="footer" class="bottom"></footer>
<!-- <script type="text/html" id="hot_list">
<ul>
<%for(i = 0; i < list.length; i++){%>
	<li><a href="<%=$buildUrl('keyword',list[i])%>"><%=list[i]%></a></li>
<%}%>
</ul>
</script>
<script type="text/html" id="search_his_list">
<ul>
<%for(i = 0; i < his_list.length; i++){%>
	<li><a href="<%=$buildUrl('keyword',his_list[i])%>"><%=his_list[i]%></a></li>
<%}%>
</ul><a href="javascript:void(0);" class="clear-history" onclick="$(this).prev().remove();delCookie('hisSearch');">清空历史</a>
</script> -->
<script type="text/javascript" src="../js/zepto.min.js"></script> 
<script type="text/javascript" src="../js/config.js"></script> 
<script type="text/javascript" src="../js/template.js"></script> 
<script type="text/javascript" src="../js/common.js"></script> 
<script type="text/javascript" src="../js/tmpl/find.js"></script> 
<script type="text/javascript" src="../js/tmpl/footer.js"></script>
</body>
</html>
