<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no"/>
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>商品分类</title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/nctouch_categroy.css">
<style type="text/css">
	body{
		background: #f9f9f9;
	}
</style>
</head>
<body>
<header id="header" >
  <div class="header-wrap" style="background: #333333;">
   <!--  <div class="header-l"> <a href="javascript:history.go(-1)"> <i class="back"></i> </a> </div> -->
    <!-- <div class="header-inpx header-inp border-none"> <i class="icon"></i> <span id="keyword" class="search-input" >搜索</span> </div> -->
     <div class="header-title">
     	 <h1 style="color: white;">商品</h1>
    </div>
    <div class="header-r xsearch"> <a id="header-nav"  href="javascript:void(0);"><i class="search_icon"></i></a> </div>
  </div>
</header>
<div class="nctouch-main-layout">
  <div class="categroy-cnt" id="categroy-cnt"></div>
  <div>
  		<div class="categroy-rgt" id="categroy-rgt"></div>
  </div>
</div>
<!-- <div class="pre-loading">
  <div class="pre-block">
    <div class="spinner"><i></i></div>
    分类数据读取中... </div>
</div> -->
</body>
<script type="text/html" id="category-one">
	<ul class="categroy-list">
		<!-- <li class="category-item selected">
			<a href="javascript:void(0);" class="category-item-a brand">
				<div class="ci-fcategory-name">品牌推荐</div>
			</a>
		</li> -->
		<% for(var i = 0;i<class_list.length;i++){ %>
				<% if (i == tabsign) {%>
					<li class="category-item selected">
						<a href="javascript:void(0);" class="category-item-a category" data-index="<%= i %>" date-id="<%= class_list[i].gc_id %>">
							<!-- <div class="ci-fcategory-ico">
								<img src="<% if (class_list[i].image != '') { %><%= class_list[i].image %><% } else {%>../images/degault.png<% } %>">
							</div> -->
							<div class="ci-fcategory-name"><%= class_list[i].gc_name %></div>
						</a>
					</li>
				<% } 
				else{ %>
					<li class="category-item">
						<a href="javascript:void(0);" class="category-item-a category" data-index="<%= i %>" date-id="<%= class_list[i].gc_id %>">
							<!-- <div class="ci-fcategory-ico">
								<img src="<% if (class_list[i].image != '') { %><%= class_list[i].image %><% } else {%>../images/degault.png<% } %>">
							</div> -->
							<div class="ci-fcategory-name"><%= class_list[i].gc_name %></div>
						</a>
					</li>
				<%}%>
		<% } %>
	</ul>
</script>
<script type="text/html" id="category-two">
	<dl class="categroy-child-list">
  		<img src="<%= gc_image %>" class="categroy_banner">
		<% for(var i=0; i<class_list.length; i++) { var col = i % 10;%>
			<!-- <a href="<%= WapSiteUrl %>/tmpl/product_list.html?gc_id=<%= class_list[i].gc_id %>&cur=6"> -->
				<dt>
					<a href="<%= WapSiteUrl %>/tmpl/product_list.html?gc_id=<%= class_list[i].gc_id %>&cur=6">
						<img class="categroy_img" src="<%= class_list[i].gc_image %>">
					</a>
						<a href="<%= WapSiteUrl %>/tmpl/product_list.html?gc_id=<%= class_list[i].gc_id %>&cur=6"><!-- <i class="col<%= col %>"> </i>--><%= class_list[i].gc_name %><!-- <i class="arrow-r"></i> -->
						</a>
				</dt>
			<!-- </a> -->
		<!-- 	<% for(var j=0; j<class_list[i].child.length; j++) { %>
				<dd><a href="<%= WapSiteUrl %>/tmpl/product_list.html?gc_id=<%= class_list[i].child[j].gc_id %>"><%= class_list[i].child[j].gc_name %></a></dd>
			<% } %> -->
		<% } %>
	</dl>
</script>
<script type="text/html" id="brand-one">
	<dl class="brands-recommend">
		<% for(var i = 0;i<brand_list.length;i++){ %>
			<dd>
				<a href="<%= WapSiteUrl %>/tmpl/product_list.html?b_id=<%= brand_list[i].brand_id %>&cur=6">
					<img src="<%= brand_list[i].brand_pic %>">
					<p><%= brand_list[i].brand_name %></p>
				</a>
			</dd>
		<% } %>
	</dl>
</script>
<footer id="footer" class="bottom"></footer>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/iscroll.js"></script>
<script type="text/javascript" src="../js/tmpl/categroy-frist-list.js"></script>
<script type="text/javascript" src="../js/tmpl/footer.js"></script> 
</html>