<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>商品搜索</title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/nctouch_common.css">
<style type="text/css">
	body{ 
		background: #f9f9f9;
	}
</style>
</head>
<body>
<div id="header" class="search_head">
	<div class="header-wrap">
		<!-- <div class="header-l">
			<a href="javascript:history.go(-1)">
				<i class="back"></i>
			</a>
		</div> -->
		<div class="header-inp border-none" style="background: white;">
			<i class="icon"></i>
			<form action="" class="input-kw-form">
				<input type="text" style="background: white;"  class="search-input" value="" oninput="writeClear($(this));" id="keywordx"  placeholder="搜索" maxlength="50" autocomplete="on" autofocus>
			</form>
			<span class="input-del"></span>
		</div>
		<div class="header-r">
			<a   href="javascript:history.go(-1)" class="search-btn">取消</a>
		</div>
	</div>
</div>

<!-- 全文搜索提示 begin -->
<div class="nctouch-main-layout mb-20" id="search_tip_list_container" style="display:none"></div>
<script type="text/html" id="search_tip_list_script">
<ul class="nctouch-default-list">
<%for(i = 0; i < list.length; i++){%>
	<li><a href="<%=$buildUrl('keyword',list[i])%>"><%=list[i]%></a></li>
<%}%>
</ul>
</script>
<!-- 全文搜索提示 end -->

<div id="store-wrapper">
  <div class="nctouch-search-layout">
    <!-- dl class="hot-keyword">
      <dt style="color:#818181">热门搜索</dt>
      <dd id="hot_list_container"></dd>
    </dl> -->
    <dl style="position: relative;padding-bottom: 0;">
      <dt style="color:#818181;margin-bottom: 0;">最近搜索</dt>
      <dd id="search_his_list_container" style="margin-top: 0.5rem"></dd>
    </dl>
  </div>
</div>
<script type="text/html" id="search_his_list">
	<ul class="search_list_lately">

		<% if (his_list.length>0) {%>
			<%for(i = 0; i < his_list.length; i++){%>
				<li><a href="<%=$buildUrl('keyword',his_list[i])%>"><%=his_list[i]%></a></li>
			<%}%>
      	<a href="javascript:void(0);"  onclick="$(this).prev().remove();delCookie('hisSearch');$(this).parent().html('<div>无</div>')">
      		<i class="search_del"></i>
      	</a>
				<% } else { %>

					<div>无</div>
      	 	
				<% } %>
	</ul>
</script>
<!-- <ul class="search_list_lately">
	<li>沉香手串</li>
	<li>沉香手串</li>
	<li>沉香手串</li>
	<li>沉香手串sf</li>
	<li>沉香手串sf</li>
</ul> -->
<footer id="footer" class="bottom"></footer>
<script type="text/html" id="hot_list">
<ul>
<!-- <%for(i = 0; i < list.length; i++){%>
	<li><a href="<%=$buildUrl('keyword',list[i])%>"><%=list[i]%></a></li>
<%}%> -->
</ul>
</script>
<!-- <script type="text/html" id="search_his_list">
<ul>
<%for(i = 0; i < his_list.length; i++){%>
	<li><a href="<%=$buildUrl('keyword',his_list[i])%>"><%=his_list[i]%></a></li>
<%}%>
</ul><a href="javascript:void(0);" class="clear-history" onclick="$(this).prev().remove();delCookie('hisSearch');">清空历史</a>
</script> -->
<script type="text/javascript" src="../js/zepto.min.js"></script> 
<script type="text/javascript" src="../js/config.js"></script> 
<script type="text/javascript" src="../js/template.js"></script> 
<script type="text/javascript" src="../js/common.js"></script> 
<script type="text/javascript" src="../js/tmpl/search.js"></script> 
<script type="text/javascript" src="../js/tmpl/footer.js"></script>
</body>
</html>
